In [1]:
#!/usr/bin/env python
import snowflake.connector as sfc
import pandas as pd
from datetime import datetime
import numpy as np
import ast
import re
import time
from snowflake.connector.pandas_tools import write_pandas

# Connect to DB

In [14]:

omni = sfc.connect(
    user='cs2021_user3',
    password='Cap2021Stone-3',
    account='paciolan',
    warehouse='INTERNAL_ANALYTICS_WH',#'capstone2021_wh',
    database='omni_raw',
    schema='FUND',
    role = 'CAPSTONE2021_ROLE'
)

# Extract data

## Retrieve Account data (KATH)

### Get data from snowflake

In [24]:
cs = omni.cursor()
# cur = cs.execute('''SELECT DISTINCT DATA:z_lastupdatedusertimestamp::string as z_lastupdatedusertimestamp from accounts''')
cur = cs.execute('''SELECT DISTINCT 
                    DATA:z_lastupdatedusertimestamp::string as z_lastupdatedusertimestamp,
                    DATA:accountname::string as account_name,
                    DATA:id::string as account_id,
                    DATA:dbid::string as client_id,
                    DATA:keywords as keywords, 
                    DATA:userdefinedfields as userdefinedfields,
                    DATA:tags as tags,
                    DATA:preferredemail::string as preferredemail,
                    DATA:preferredcontactmethod as preferredcontactmethod
                    from accounts  
                    limit 31728370
                    offset 31728370''')
print("execution_finished")
account_df2 = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
print(account_df2)

execution_finished
        Z_LASTUPDATEDUSERTIMESTAMP                 ACCOUNT_NAME ACCOUNT_ID  \
0                    1606232198392            Samira Awad Soria  899456498
1                    1606232200750                   Jade Brown  895370834
2                    1606232201950                  Yilin Zheng  897488449
3                    1606232203948                Caroline Lege  899471609
4                    1606232210037              Hunter C Miller  899486802
...                            ...                          ...        ...
1018473   2019-10-06T19:37:06.457Z                  garett buss     456770
1018474   2019-10-06T19:37:05.853Z               Brandon Kepner     456644
1018475              1595784326833         Appolonia, Frances W     386386
1018476              1595855801988               John B Molidor      28936
1018477              1595949098997  Alixandra Catherine Krawcke  957797728

        CLIENT_ID                                           KEYWORDS  \
0             LSU  [\n  "P2258883990",\n  "PSAWADS1@LSU.EDU",\n  ...
1             LSU                                               None
2             LSU  [\n  "ZHENGY",\n  "P9178685626",\n  "PYZHEN28@...
3             LSU                                               None
4             LSU  [\n  "P3372306117",\n  "P7022306117",\n  "PHMI...
...           ...                                                ...
1018473  NEBRASKA  [\n  "P4029600940",\n  "BUSSG",\n  "PGARETT.BU...
1018474  NEBRASKA  [\n  "PBLKEPNER@GMAIL.COM",\n  "P3194912637",\...
1018475      MICH                                   [\n  "APPOLF"\n]
1018476      MICH  [\n  "MICH$T3CSX1ORTSHYFT3FIEEQD_C_4YOZYK5KRCS...
1018477      MICH  [\n  "PKRAWCKEA@MSU.EDU",\n  "P7343324978",\n ...

                                         USERDEFINEDFIELDS  \
0                                                     None
1                                                     None
2                                                     None
3                                                     None
4                                                     None
...                                                    ...
1018473                                               None
1018474                                               None
1018475  [\n  {\n    "value1": "SG",\n    "value2": "56...
1018476  [\n  {\n    "value1": "UA1",\n    "value2": "1...
1018477                                               None

                                                      TAGS  \
0                                                     None
1                                                     None
2                                                     None
3                                                     None
4                                                     None
...                                                    ...
1018473                                               None
1018474                                               None
1018475                                               None
1018476  [\n  "WHCONV",\n  "WC_ATTR",\n  "WCUNLINK",\n ...
1018477  [\n  "STUDENTFALL2019",\n  "STUDENTSPRING2020"\n]

             PREFERREDEMAIL PREFERREDCONTACTMETHOD
0           sawads1@lsu.edu                    "N"
1           jbro479@lsu.edu                    "N"
2           yzhen28@lsu.edu                    "N"
3            clege3@lsu.edu                    "N"
4           hmill45@lsu.edu                    "N"
...                     ...                    ...
1018473                None                    "N"
1018474  blkepner@gmail.com                    "N"
1018475                None                    "N"
1018476     molidor@msu.edu                    "N"
1018477    krawckea@msu.edu                    "N"

[1018478 rows x 9 columns]

In [25]:
account_df2.to_csv("all_accounts_2.csv")

In [126]:
account_df2

,Z_LASTUPDATEDUSERTIMESTAMP,ACCOUNT_NAME,ACCOUNT_ID,CLIENT_ID,KEYWORDS,USERDEFINEDFIELDS,TAGS,PREFERREDEMAIL,PREFERREDCONTACTMETHOD
0,1606232198392,Samira Awad Soria,899456498,LSU,"[\n ""P2258883990"",\n ""PSAWADS1@LSU.EDU"",\n ...",None,None,sawads1@lsu.edu,"""N"""
1,1606232200750,Jade Brown,895370834,LSU,None,None,None,jbro479@lsu.edu,"""N"""
2,1606232201950,Yilin Zheng,897488449,LSU,"[\n ""ZHENGY"",\n ""P9178685626"",\n ""PYZHEN28@...",None,None,yzhen28@lsu.edu,"""N"""
3,1606232203948,Caroline Lege,899471609,LSU,None,None,None,clege3@lsu.edu,"""N"""
4,1606232210037,Hunter C Miller,899486802,LSU,"[\n ""P3372306117"",\n ""P7022306117"",\n ""PHMI...",None,None,hmill45@lsu.edu,"""N"""
...,...,...,...,...,...,...,...,...,...
1018473,2019-10-06T19:37:06.457Z,garett buss,456770,NEBRASKA,"[\n ""P4029600940"",\n ""BUSSG"",\n ""PGARETT.BU...",None,None,None,"""N"""
1018474,2019-10-06T19:37:05.853Z,Brandon Kepner,456644,NEBRASKA,"[\n ""PBLKEPNER@GMAIL.COM"",\n ""P3194912637"",\...",None,None,blkepner@gmail.com,"""N"""
1018475,1595784326833,"Appolonia, Frances W",386386,MICH,"[\n ""APPOLF""\n]","[\n {\n ""value1"": ""SG"",\n ""value2"": ""56...",None,None,"""N"""
1018476,1595855801988,John B Molidor,28936,MICH,"[\n ""MICH$T3CSX1ORTSHYFT3FIEEQD_C_4YOZYK5KRCS...","[\n {\n ""value1"": ""UA1"",\n ""value2"": ""1...","[\n ""WHCONV"",\n ""WC_ATTR"",\n ""WCUNLINK"",\n ...",molidor@msu.edu,"""N"""
1018477,1595949098997,Alixandra Catherine Krawcke,957797728,MICH,"[\n ""PKRAWCKEA@MSU.EDU"",\n ""P7343324978"",\n ...",None,"[\n ""STUDENTFALL2019"",\n ""STUDENTSPRING2020""\n]",krawckea@msu.edu,"""N"""

### Connect to S3

In [2]:
import boto3
from botocore.client import Config
import s3fs 
import os
mykey = "AKIAZASEX6JHG2B6IG74"
mysecretkey = "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"
config = Config(connect_timeout=120, 
                retries={'max_attempts': 10})
s3 = boto3.resource(
    service_name='s3',
    region_name='us-west-2',
    aws_access_key_id=mykey,
    aws_secret_access_key=mysecretkey
)
client = boto3.client(
    service_name='s3',
    region_name='us-west-2',
    aws_access_key_id=mykey,
    aws_secret_access_key=mysecretkey,
    config=config
)
os.environ["AWS_DEFAULT_REGION"] = 'us-west-2'
os.environ["AWS_ACCESS_KEY_ID"] = mykey
os.environ["AWS_SECRET_ACCESS_KEY"] = mysecretkey

bucket = 'uci-capstone-custfields'

### Upload file to S3

In [100]:
# import boto3
# s32 = boto3.resource('s3')
s3 = boto3.client('s3')
with open('all_accounts.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/all_accounts.csv')

In [128]:
# import boto3
# s32 = boto3.resource('s3')
s3 = boto3.client('s3')
with open('all_accounts_2.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/all_accounts_2.csv')

### Clean Data First Round

In [132]:
def convert_datetime(timestamp):
    if type(timestamp) == float and np.isnan(timestamp):
        return pd.to_datetime(timestamp)
    elif type(timestamp) == str and "T" in timestamp:
        return str(pd.to_datetime(timestamp)).replace("+00:00", "").split(".")[0]
    elif type(timestamp) == str and len(timestamp) == 0:
        return pd.to_datetime(np.nan)
    else:
        timestamp = int(timestamp)
        if np.isnan(timestamp):
            return pd.to_datetime(timestamp)
        return str(datetime.fromtimestamp(timestamp/1000.0)).split(".")[0]

In [10]:
def to_dict(x):
    result = dict()
    if type(x) == str and x != "":
        x = ast.literal_eval("["+x+"]")
        for d in x:
            result[d["value1"]] = d["value2"]
        return str(result)[1:-1]
    return np.nan
            
def to_nan(x):
    if type(x) == str and x =="":
        return np.nan
    else:
        return x
    
def only_comma(x):
    return len(x.replace(",",""))==0
def remove_duplicates(x):
    if type(x) == str and x != "" and not only_comma(x):
        x = "{"+x+"}"
        x = ast.literal_eval(x)
        return str(x)
    return np.nan

def remove_duplicates2(x):
    if type(x) == str and x != "" and not only_comma(x):
        x = x.strip(",")
        x= re.sub(r',+',',',x)
        x = re.sub("[\{\}]","",x)
        x = "{"+x+"}"
        x = ast.literal_eval(x)
        return str(x)
    return np.nan

In [13]:
cols = ["keywords","userdefinedfields","tags"]
testing_orgid = ["SPORTS","ARTSDEMO","CLASS1","CLASS3A","CICD80"]
concat_cols = ["keywords","userdefinedfields","tags",
 "preferredemail","preferredcontactmethod","account_name"]
account_df2 = pd.read_csv("all_accounts.csv", chunksize = 100000)
for i,chunk in enumerate(account_df2):
    if i >= 281:
        print(i)
        print("before removing:",len(chunk))
        chunk.drop(columns = ["Unnamed: 0"], inplace =True)
        chunk.rename(columns = {"CLIENT_ID":"org_id","ACCOUNT_ID":"ACCOUNT_ID".lower(),
                               "ACCOUNT_NAME":"account_name","KEYWORDS":"KEYWORDS".lower(),
                               "USERDEFINEDFIELDS":"USERDEFINEDFIELDS".lower(),
                               "TAGS":"tags","PREFERREDEMAIL":"preferredemail",
                               "PREFERREDCONTACTMETHOD":"preferredcontactmethod"}, 
                     inplace = True)
        chunk["account_name"] = "\""+chunk["account_name"].apply(lambda x: x.replace("\"","\'").replace("\\","") if type(x)==str else x)+"\""
#         chunk["account_name"] = chunk["account_name"].apply(lambda x: x.replace("\\","") if type(x)==str else x)
        chunk["preferredemail"] ="\""+chunk["preferredemail"].apply(lambda x: x.replace("\"","\'").replace("\\","") if type(x)==str else x)+"\""
        chunk = chunk[~chunk.org_id.isin(testing_orgid)].copy()
        print("after removing testing accounts:",len(chunk))

        ### Simple Formatting
        for col in cols:
            chunk[col] = chunk[col].astype(str)
            chunk[col] = chunk[col].apply(lambda x: x.replace("\n ",""))
            chunk[col] = chunk[col].apply(lambda x: x.replace("[",""))
            chunk[col] = chunk[col].apply(lambda x: x.replace("]",""))
            chunk[col] = chunk[col].apply(lambda x: "" if x == "nan" else x)
            chunk[col] = chunk[col].apply(lambda x: x.replace("\n",""))
        chunk["Z_LASTUPDATEDUSERTIMESTAMP"] =chunk.Z_LASTUPDATEDUSERTIMESTAMP.apply(convert_datetime)
        chunk = chunk[pd.to_datetime(chunk.Z_LASTUPDATEDUSERTIMESTAMP)>=datetime(2018,1,1)].copy()
        chunk.sort_values(by = ["Z_LASTUPDATEDUSERTIMESTAMP"], inplace = True)
        result = chunk[["account_id", "org_id"]].copy()

        ### Merge into Set or Dict (only keep the earliest records)
        for col in concat_cols:
            print(col)
            if col == "userdefinedfields":
                chunk[col]=chunk[col].apply(to_dict)
            else:
                chunk[col] = chunk[col].apply(to_nan)
            temp = chunk[[col,"account_id",
                        "org_id"]].dropna()
            temp = pd.DataFrame(temp.groupby(["account_id",          
                               "org_id"])[col].apply(','.join).apply(str.strip)).reset_index()
            temp[col] = temp[col].apply(remove_duplicates)
            result = pd.merge(result,temp, on =["account_id", "org_id"], how = "outer")
            result.drop_duplicates(inplace = True)
        result.drop_duplicates(inplace = True)
        if i == 0:
            result.to_csv("s3://uci-capstone-custfields/raw/cleaned_accounts_v1.csv",
                          index = False)
        else:
            result.to_csv("s3://uci-capstone-custfields/raw/cleaned_accounts_v1.csv", 
                        mode = "a", header = False, index = False)
        print(len(result))

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

281
before removing: 100000
after removing testing accounts: 98782
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
68517
282
before removing: 100000
after removing testing accounts: 99511
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
65917
283
before removing: 100000
after removing testing accounts: 99994
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
81334
284
before removing: 100000
after removing testing accounts: 99651
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
80796

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

285
before removing: 100000
after removing testing accounts: 99995
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
69200

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

286
before removing: 100000
after removing testing accounts: 98524
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
68683
287
before removing: 100000
after removing testing accounts: 99784
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
66163
288
before removing: 100000
after removing testing accounts: 99837
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
80653
289
before removing: 100000
after removing testing accounts: 99782
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
82163

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

290
before removing: 100000
after removing testing accounts: 99989
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
68262

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

291
before removing: 100000
after removing testing accounts: 98304
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
68655
292
before removing: 100000
after removing testing accounts: 99987
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
66658
293
before removing: 100000
after removing testing accounts: 99823
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
81130
294
before removing: 100000
after removing testing accounts: 99832
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
82431

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

295
before removing: 100000
after removing testing accounts: 99992
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
66318

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

296
before removing: 100000
after removing testing accounts: 98291
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
69787
297
before removing: 100000
after removing testing accounts: 99984
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
67655
298
before removing: 100000
after removing testing accounts: 99847
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
79955
299
before removing: 100000
after removing testing accounts: 99808
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
83660

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

300
before removing: 100000
after removing testing accounts: 99986
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
62978

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

301
before removing: 100000
after removing testing accounts: 98350
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
70616
302
before removing: 100000
after removing testing accounts: 99985
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
69646
303
before removing: 100000
after removing testing accounts: 99858
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
79007
304
before removing: 100000
after removing testing accounts: 99814
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
84170
305
before removing: 100000
after removing testing accounts: 99987
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
61352

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

306
before removing: 100000
after removing testing accounts: 98323
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
69642
307
before removing: 100000
after removing testing accounts: 99989
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
72166
308
before removing: 100000
after removing testing accounts: 99839
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
79221
309
before removing: 100000
after removing testing accounts: 99826
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
82653
310
before removing: 100000
after removing testing accounts: 99991
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
61002

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

311
before removing: 100000
after removing testing accounts: 98370
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
69577
312
before removing: 100000
after removing testing accounts: 99990
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
74414
313
before removing: 100000
after removing testing accounts: 99812
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
78723
314
before removing: 100000
after removing testing accounts: 99810
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
82026
315
before removing: 100000
after removing testing accounts: 99985
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
60331

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

316
before removing: 100000
after removing testing accounts: 98310
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
76542
317
before removing: 28370
after removing testing accounts: 28367
keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
22080

In [133]:
# cols = ["keywords","userdefinedfields","tags"]
# testing_orgid = ["SPORTS","ARTSDEMO","CLASS1","CLASS3A","CICD80"]
# concat_cols = ["keywords","userdefinedfields","tags",
#  "preferredemail","preferredcontactmethod","account_name"]
# chunk = pd.read_csv("all_accounts_2.csv")
# print("before removing:",len(chunk))
# chunk.drop(columns = ["Unnamed: 0"], inplace =True)
# chunk.rename(columns = {"CLIENT_ID":"org_id","ACCOUNT_ID":"ACCOUNT_ID".lower(),
#                        "ACCOUNT_NAME":"account_name","KEYWORDS":"KEYWORDS".lower(),
#                        "USERDEFINEDFIELDS":"USERDEFINEDFIELDS".lower(),
#                        "TAGS":"tags","PREFERREDEMAIL":"preferredemail",
#                        "PREFERREDCONTACTMETHOD":"preferredcontactmethod"}, 
#              inplace = True)
# chunk["account_name"] = "\""+chunk["account_name"].apply(lambda x: x.replace("\"","\'").replace("\\","") if type(x)==str else x)+"\""
# #         chunk["account_name"] = chunk["account_name"].apply(lambda x: x.replace("\\","") if type(x)==str else x)
# chunk["preferredemail"] ="\""+chunk["preferredemail"].apply(lambda x: x.replace("\"","\'").replace("\\","") if type(x)==str else x)+"\""
# chunk = chunk[~chunk.org_id.isin(testing_orgid)].copy()
# print("after removing testing accounts:",len(chunk))

# ### Simple Formatting
# for col in cols:
#     chunk[col] = chunk[col].astype(str)
#     chunk[col] = chunk[col].apply(lambda x: x.replace("\n ",""))
#     chunk[col] = chunk[col].apply(lambda x: x.replace("[",""))
#     chunk[col] = chunk[col].apply(lambda x: x.replace("]",""))
#     chunk[col] = chunk[col].apply(lambda x: "" if x == "nan" else x)
#     chunk[col] = chunk[col].apply(lambda x: x.replace("\n",""))
chunk["Z_LASTUPDATEDUSERTIMESTAMP"] =chunk.Z_LASTUPDATEDUSERTIMESTAMP.apply(convert_datetime)
chunk = chunk[pd.to_datetime(chunk.Z_LASTUPDATEDUSERTIMESTAMP)>=datetime(2018,1,1)].copy()
chunk.sort_values(by = ["Z_LASTUPDATEDUSERTIMESTAMP"], inplace = True)
result = chunk[["account_id", "org_id"]].copy()

### Merge into Set or Dict (only keep the earliest records)
for col in concat_cols:
    print(col)
    if col == "userdefinedfields":
        chunk[col]=chunk[col].apply(to_dict)
    else:
        chunk[col] = chunk[col].apply(to_nan)
    temp = chunk[[col,"account_id",
                "org_id"]].dropna()
    temp = pd.DataFrame(temp.groupby(["account_id",          
                       "org_id"])[col].apply(','.join).apply(str.strip)).reset_index()
    temp[col] = temp[col].apply(remove_duplicates)
    result = pd.merge(result,temp, on =["account_id", "org_id"], how = "outer")
    result.drop_duplicates(inplace = True)
result.drop_duplicates(inplace = True)
result.to_csv("s3://uci-capstone-custfields/raw/cleaned_accounts_2_v1.csv",
                  index = False)
result.to_csv("cleaned_accounts_2_v1.csv",
                  index = False)
print(len(result))

keywords
userdefinedfields
tags
preferredemail
preferredcontactmethod
account_name
470918

In [134]:
result

,account_id,org_id,keywords,userdefinedfields,tags,preferredemail,preferredcontactmethod,account_name
0,138788,MSSTATE,NaN,NaN,NaN,{'mr.erise@gmail.com'},NaN,{'Erise Wilson'}
1,106626,MSSTATE,"{'PRITCC', '0'}",NaN,{'NONSTMNOND17'},NaN,{'N'},{'Pritchard Engineering'}
2,119515,MSSTATE,"{'P6625156412', 'DAVIDJ', 'PJW6412@GMAIL.COM'}",NaN,{'NONSTMNOND17'},{'jw6412@gmail.com'},{'N'},{'James Davidson'}
3,137104,MSSTATE,NaN,NaN,NaN,{'richlopez70@gmail.com'},NaN,{'Rich Lopez'}
4,132816,MSSTATE,NaN,NaN,NaN,{'john.harden@gmail.com'},NaN,{'John Harden'}
...,...,...,...,...,...,...,...,...
470913,445879,ARKANSAS,NaN,NaN,NaN,{'kellyrussell712@gmail.com'},{'N'},{'kellly russell'}
470914,53939559,TAM,NaN,NaN,NaN,{'hwoolwine@bigcompany.com'},{'N'},{'Heather Woolwine'}
470915,371009425771,FSU,NaN,{'STID': '200311128'},NaN,{'jhh19d@my.fsu.edu'},{'N'},{'john hunter harris'}
470916,386122,TTU,NaN,NaN,NaN,{'Trejomike18@gmail.com'},{'N'},{'Michael Trejo'}
470917,635515,NEBRASKA,NaN,NaN,NaN,{'ajlempke@gmail.com'},{'N'},{'Austin Lempke'}

### Clean Second Round

In [133]:
cols = ["keywords","userdefinedfields","tags"]
concat_cols = ["keywords","userdefinedfields","tags",
 "preferredemail","preferredcontactmethod","account_name"]
columns = ["account_id","org_id","keywords","userdefinedfields",
           "tags","preferredemail","preferredcontactmethod",
           "account_name"]
# account_df2 = pd.read_csv("cleaned_accounts_v1.csv", chunksize = 100000)
for k in range(3,4):
    
    account_df2 = pd.read_csv(f"cleaned_v1/cleaned_accounts_v1 ({k}).csv", 
                              chunksize = 100000,
                              names = columns)
    for i,chunk in enumerate(account_df2):   
        if i >= 0:
            print(i)
            print("before removing:",len(chunk))
            if len(chunk) != len(chunk.drop_duplicates(subset = ["account_id","org_id"])):

                ### Simple Formatting
                for col in concat_cols:
                    chunk[col] = chunk[col].apply(lambda x: x[1:-1] if type(x)==str and "{" in x else x)

                ### Merge into Set or Dict (only keep the earliest records)
                result = chunk.fillna("").groupby(["account_id","org_id"], 
                                      as_index = False).agg({"keywords":",".join,
                                                            "userdefinedfields":",".join,
                                                            "tags":",".join,
                                                            "preferredemail":",".join,
                                                            "preferredcontactmethod":",".join,
                                                            "account_name":",".join}) 
                for col in concat_cols:
                    result[col] = result[col].apply(remove_duplicates2)

#                 if i == 0:
                result.to_csv(f"cleaned_v2/cleaned_accounts_v2_{k}_{i}.csv", index = False)
#                 else:
#                     result.to_csv("cleaned_v2/cleaned_accounts_v2_{k}_{i}.csv", 
#                                 mode = "a", header = False, index = False)
                print(len(result))
            else:
#                 if i == 0:
                chunk.to_csv(f"cleaned_v2/cleaned_accounts_v2_{k}_{i}.csv", index = False)
#                 else:
#                     chunk.to_csv("cleaned_v2/cleaned_accounts_v2_{k}_{i}.csv", 
#                                 mode = "a", header = False, index = False)

0
before removing: 100000
72356
1
before removing: 100000
99998
2
before removing: 100000
97249
3
before removing: 100000
91710
4
before removing: 100000
99251
5
before removing: 100000
92442
6
before removing: 100000
98325
7
before removing: 100000
87654
8
before removing: 100000
98298
9
before removing: 100000
10
before removing: 100000
91089
11
before removing: 100000
95518
12
before removing: 100000
99995
13
before removing: 100000
98275
14
before removing: 100000
90433
15
before removing: 100000
99967
16
before removing: 100000
92154
17
before removing: 100000
94709
18
before removing: 100000
90617
19
before removing: 100000
98852
20
before removing: 100000
21
before removing: 100000
89275
22
before removing: 100000
97782
23
before removing: 100000
99999
24
before removing: 100000
94326

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

25
before removing: 100000
95600
26
before removing: 81689
66679

### Clean Third Round

In [157]:
cols = ["keywords","userdefinedfields","tags"]
concat_cols = ["keywords","userdefinedfields","tags",
 "preferredemail","preferredcontactmethod","account_name"]
columns = ["account_id","org_id","keywords","userdefinedfields",
           "tags","preferredemail","preferredcontactmethod",
           "account_name"]
# account_df2 = pd.read_csv("cleaned_accounts_v1.csv", chunksize = 100000)
######
# chunk = pd.read_csv("cleaned_v2/cleaned_accounts_v2_{i}.csv",
#                     names = columns)
######
# chunk = []
# for i in range(0,94):
#     print(i)
#     chunk.append(pd.read_csv(f"cleaned_v2/cleaned_accounts_v2_1_{i}.csv"))
######
# chunk = []
# for i in range(0,72):
#     print(i)
#     chunk.append(pd.read_csv(f"cleaned_v2/cleaned_accounts_v2_2_{i}.csv"))
######
chunk = []
for i in range(0,27):
    print(i)
    chunk.append(pd.read_csv(f"cleaned_v2/cleaned_accounts_v2_3_{i}.csv"))
chunk = pd.concat(chunk)
if len(chunk) != len(chunk.drop_duplicates(subset = ["account_id","org_id"])):
    print("len(chunk):",len(chunk))
    

    ### Simple Formatting
    for col in concat_cols:
        print("col1:",col)
        chunk[col] = chunk[col].apply(lambda x: x[1:-1] if type(x)==str and "{" in x else x)

    ### Merge into Set or Dict (only keep the earliest records)
    result = chunk.fillna("").groupby(["account_id","org_id"], 
                          as_index = False).agg({"keywords":",".join,
                                                "userdefinedfields":",".join,
                                                "tags":",".join,
                                                "preferredemail":",".join,
                                                "preferredcontactmethod":",".join,
                                                "account_name":",".join}) 
    for col in concat_cols:
        print("col2:",col)
        result[col] = result[col].apply(remove_duplicates2)
    result.to_csv(f"cleaned_v3/cleaned_accounts_v3_3.csv", index = False)

    print(len(result))
else:
    chunk.to_csv(f"cleaned_v3/cleaned_accounts_v3_3.csv", index = False)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

26
len(chunk): 2532553
col1: keywords
col1: userdefinedfields
col1: tags
col1: preferredemail
col1: preferredcontactmethod
col1: account_name
col2: keywords
col2: userdefinedfields
col2: tags
col2: preferredemail
col2: preferredcontactmethod
col2: account_name
1763988

### Clean Fourth Round

In [158]:
cols = ["keywords","userdefinedfields","tags"]
concat_cols = ["keywords","userdefinedfields","tags",
 "preferredemail","preferredcontactmethod","account_name"]
columns = ["account_id","org_id","keywords","userdefinedfields",
           "tags","preferredemail","preferredcontactmethod",
           "account_name"]
chunk = []
for i in range(0,4):
    print(i)
    chunk.append(pd.read_csv(f"cleaned_v3/cleaned_accounts_v3_{i}.csv"))
chunk = pd.concat(chunk)
if len(chunk) != len(chunk.drop_duplicates(subset = ["account_id","org_id"])):
    print("len(chunk):",len(chunk))
    
    ### Simple Formatting
    for col in concat_cols:
        print("col1:",col)
        chunk[col] = chunk[col].apply(lambda x: x[1:-1] if type(x)==str and "{" in x else x)

    ### Merge into Set or Dict (only keep the earliest records)
    result = chunk.fillna("").groupby(["account_id","org_id"], 
                          as_index = False).agg({"keywords":",".join,
                                                "userdefinedfields":",".join,
                                                "tags":",".join,
                                                "preferredemail":",".join,
                                                "preferredcontactmethod":",".join,
                                                "account_name":",".join}) 
    for col in concat_cols:
        print("col2:",col)
        result[col] = result[col].apply(remove_duplicates2)
    result.to_csv(f"cleaned_v4/cleaned_accounts_v4.csv", index = False)

    print(len(result))
else:
    chunk.to_csv(f"cleaned_v4/cleaned_accounts_v4.csv", index = False)

0

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

1
2
3
len(chunk): 14637821
col1: keywords
col1: userdefinedfields
col1: tags
col1: preferredemail
col1: preferredcontactmethod
col1: account_name
col2: keywords
col2: userdefinedfields
col2: tags
col2: preferredemail
col2: preferredcontactmethod
col2: account_name

FileNotFoundError: [Errno 2] No such file or directory: 'cleaned_v4/cleaned_accounts_v4.csv'

In [159]:
result.to_csv(f"cleaned_v4/cleaned_accounts_v4.csv", index = False)

In [160]:
print(len(result))

10865336

### Upload Cleaned data to s3

In [162]:
s3 = boto3.client('s3')
with open('cleaned_v4/cleaned_accounts_v4.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/cleaned_accounts_v4.csv')

In [4]:
for data in pd.read_csv("cleaned_v4/cleaned_accounts_v4.csv", chunksize = 1000):
    print(data)
    break

     account_id      org_id  \
0          -2.0  WASHINGTON
1          -1.0  WASHINGTON
2           0.0      BAYLOR
3           0.0         FSU
4           0.0      HAWAII
5           0.0      KANSAS
6           0.0         KSU
7           0.0    NEBRASKA
8           0.0    OKLAHOMA
9           0.0         TAM
10          0.0         TTU
11          0.0        UT-A
12          0.0  WASHINGTON
13          1.0    ARKANSAS
14          1.0      BAYLOR
15          1.0     CLEMSON
16          1.0         ECU
17          1.0      FRESNO
18          1.0         FSU
19          1.0        IOWA
20          1.0      KANSAS
21          1.0         KSU
22          1.0         LSU
23          1.0        MICH
24          1.0     MSSTATE
25          1.0        NCSU
26          1.0    NEBRASKA
27          1.0    OKLAHOMA
28          1.0         TAM
29          1.0         TTU
..          ...         ...
970        69.0        UT-A
971        70.0    ARKANSAS
972        70.0        ARMY
973        70.0      BAYLOR
974        70.0      FRESNO
975        70.0         FSU
976        70.0        IOWA
977        70.0      KANSAS
978        70.0    NEBRASKA
979        70.0    OKLAHOMA
980        70.0         TTU
981        70.0        UT-A
982        70.0  WASHINGTON
983        71.0    ARKANSAS
984        71.0        ARMY
985        71.0      BAYLOR
986        71.0         FSU
987        71.0      HAWAII
988        71.0      KANSAS
989        71.0        MICH
990        71.0    NEBRASKA
991        71.0    OKLAHOMA
992        71.0         TTU
993        71.0        UT-A
994        71.0  WASHINGTON
995        72.0    ARKANSAS
996        72.0        ARMY
997        72.0      BAYLOR
998        72.0         FSU
999        72.0      HAWAII

                                              keywords  \
0                                            {'ACCOU'}
1                                            {'RETAI'}
2                            {'CAREYM', 'P2547169727'}
3    {'RE', 'IBM$OVJ5S9SUAFFKTGP7X9-M63PM', 'RE7545...
4                                             {'KHOP'}
5                                                  NaN
6             {'P9136429790', 'KOLICP', 'P9135221055'}
7                             {'CURRI', 'P7139555505'}
8                                           {'WHITER'}
9                                                  NaN
10   {'PBRENNAN.SANDERSON@TTU.EDU', 'P8067424412', ...
11                                                 NaN
12                                {'SYSTER', '832788'}
13   {'IBM$6376681', 'IBM$7071876', 'P5017523344', ...
14   {'BAYLOR$1902421', 'BAYLOR$6BYMCVPVIZSES5I4HPD...
15   {'PIPTAY@CLEMSON.EDU', 'P8887744778', 'PJILL@R...
16                      {'TUGGLB', 'PTUGGLEB@ECU.EDU'}
17               {'BDF082792', 'A-1GL', 'OSG20020507'}
18   {'SANDRL', 'RE778361', 'P9043866002', 'GTWGROU...
19   {'STUDE', 'P3193359309', 'MBBGA', 'PSANDSTRUMF...
20                                           {'MBBBU'}
21                          {'CAROL', 'P511', 'DUMPA'}
22                                      {'1', 'BRIAN'}
23   {'PBOGUSEMAIL@GMAIL.COM', '000012832', '000010...
24   {'P6505555555', 'P9495555555', 'PPAULEEN_WRIGH...
25      {'SALES', 'GAME', 'PCCFLORES@NCSU.EDU', 'DAY'}
26                                                 NaN
27                                  {'SSPFB', 'CANTU'}
28   {'PLACEY.ARNDT@GMAIL.COM', 'PTEST@12THMANFOUND...
29   {'NCAAA', 'PBBERG@NELSONFIRM.CM', 'TTU$6151676...
..                                                 ...
970  {'AMTX$SCLGG01-RAC3SSQXRD7X922H', 'AMTX$GAITCW...
971  {'IBM$597067', 'IBM$2520362', 'IBM$823636', 'I...
972  {'613225', 'OSG814', 'PMCCLUSKEY.LYNN@GMAIL.CO...
973  {'P2547511265', 'BURGEC', 'BAYLOR$1146052', 'P...
974  {'P5592927970', 'FRESNO$6906916', 'ANDERW', 'W...
975  {'BOCAB', 'RE732205', 'RE11135193', 'RE834513'...
976                                          {'CHICA'}
977                                          {'FUTUR'}
978                 {'P4884852', 'P4831311', 'HILLYE'}
979                                          {'LEGIS'}
980  {'TTU$', 'TTU$UFNJDWWYH51KHGZVTHVXDSYB', 'TTU$...
981  {'AMTX$11326822', 'AMTX$5221756', 'AMTX$603985...
982                                          {'FSUWN'}
983                          {'GRANTJ', 'P8707049256'}
984  {'P2156305216', '907190', 'PPAULLGRUNER@AOL.CO...
985  {'BAYLOR$1936667', 'BAYLOR$37399', 'PTCOLLIER3...
986  {'VEENSJ', 'RE595804', 'P8504137890', 'RE11135...
987       {'EMURAS', 'OSG848', 'P7357759', 'P5374911'}
988                                          {'FUTUR'}
989  {'P6164503646', 'PDOCBUTLER@HOTMAIL.COM', 'P51...
990  {'WEESNJ', 'IBM$6502861', 'IBM$', 'P4024234124...
991                                          {'LEGIS'}
992  {'PRON.ANDERSON@TTU.EDU', 'ANDERR', 'P80654327...
993     {'AMTX$13023657', 'PWRANDERSON@AUSTIN.RR.COM'}
994                                          {'DAVID'}
995  {'IBM$632080', 'DOANN', 'P8705744529', 'IBM$11...
996                          {'P5183742738', 'GUERRA'}
997  {'P9037945415', '2454', 'P2547766874', 'GARYL'...
998  {'CLEMOB', 'PCOKEY@COMCAST.NET', 'RE72782', 'R...
999  {'HAWAII$F-YKTK6JSFNO0D3PWJQAISRK', 'OSG32507'...

                                     userdefinedfields  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9                                                  NaN
10                                                 NaN
11                                                 NaN
12                                                 NaN
13                                                 NaN
14                             {'BANNER': '889747180'}
15                                                 NaN
16                                                 NaN
17                                                 NaN
18                                                 NaN
19                                                 NaN
20                                                 NaN
21                                                 NaN
22                                                 NaN
23   {'UA1': '1000000', 'SG': '1000000', 'AR': '0',...
24                               {'SHIPMILES': '1667'}
25                                                 NaN
26                                                 NaN
27                                                 NaN
28                                                 NaN
29                       {'RANK': '1', 'ADJPP': '100'}
..                                                 ...
970                                   {'EID': 'REA77'}
971  {'12-31-20RANK': '258 out of 771 Razorback 193...
972                                                NaN
973                            {'BANNER': '889490911'}
974                                                NaN
975                                                NaN
976                                                NaN
977                                                NaN
978                                                NaN
979                                                NaN
980                                      {'RANK': '1'}
981                                   {'EID': 'RFA67'}
982                                                NaN
983                                                NaN
984                                                NaN
985                            {'BANNER': '889285262'}
986                                                NaN
987                                                NaN
988                                                NaN
989                                {'WCO': 'M1035337'}
990         {'ADN': '928', 'ACN': 'Weesner, James E.'}
991                                                NaN
992                                                NaN
993                                {'EID': '0252REWR'}
994                                                NaN
995                                                NaN
996                                                NaN
997                            {'BANNER': '889657199'}
998                                                NaN
999                                                NaN

                                                  tags  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                              {'F08-SB', 'CONV.ADDR'}
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                       {'ADV12292015', 'ADV01122016'}
8                                                  NaN
9                                                  NaN
10                                        {'UNLINKED'}
11   {'FB14APP12', '2011DONORS', 'OLDDONRTAG', 'DONR'}
12                                       {'PPC.ADVCK'}
13                    {'FNAME', 'ET', 'STADIUMSURVEY'}
14                                   {'ADV.PPC060519'}
15                                                 NaN
16                                             {'POI'}
17   {'FB14_TRANS_UNLINKED_051314', 'BDFRED_UNLINKE...
18   {'ATRSTEN-M19', 'BAF21TagPacket_20210226', 'AT...
19                                                 NaN
20                           {'ADV12292015', 'ADVDON'}
21                                                 NaN
22                      {'ADVCK090919', 'ADVCK091119'}
23                    {'MBBSTH', 'ELS_Failure_030520'}
24   {'2018BDCSCHEDPMT', 'NMC18NONSTHNONDEMAIL', 'B...
25                                                 NaN
26                      {'ADV01122016', 'ADV12292015'}
27                                                 NaN
28   {'2019NTR1', '2019NormalTaxReceipt', '2018TaxR...
29                     {'LINKED', 'UNLINKED', 'ADVCK'}
..                                                 ...
970  {'WB98SEA', 'OLDDONRTAG', 'WB05SEA', 'VB14SEA'...
971                            {'ET', 'STADIUMSURVEY'}
972                           {'F15-CPT-STM-UNLINKED'}
973                                  {'ADV.PPC060519'}
974  {'FB12LINKEDAWAY_06_20', 'BDFFBRENEW', 'FB12LI...
975                    {'ATRSTEN-M19', 'ATRSTEN.-M19'}
976                                                NaN
977                                                NaN
978                                                NaN
979                                                NaN
980                                {'LINKED', 'ADVCK'}
981  {'OLDDONRTAG', 'MB15', 'BB15SEA', 'FB06SEA', '...
982                                                NaN
983                                             {'ET'}
984                             {'F15-CPT-STM-LINKED'}
985                                  {'ADV.PPC060519'}
986                    {'ATRSTEN-M19', 'ATRSTEN.-M19'}
987                                                NaN
988                                                NaN
989                               {'WHCONV', 'WCLINK'}
990                                    {'ADVCK092619'}
991                                                NaN
992                                       {'UNLINKED'}
993  {'DONORFB15', 'BB92SEA', 'LA10TT', 'OLDDONRTAG...
994                                                NaN
995                            {'ET', 'STADIUMSURVEY'}
996                                                NaN
997                                  {'ADV.PPC060519'}
998  {'SEASONTICKETS', 'ATRSTEN-M19', 'CONV.ADDR', ...
999                                                NaN

                                        preferredemail preferredcontactmethod  \
0                                                  NaN                  {'N'}
1                                                  NaN                  {'N'}
2                                                  NaN                  {'N'}
3                                {'delzwtc@gmail.com'}                  {'N'}
4                                                  NaN                  {'N'}
5                                                  NaN                  {'N'}
6                                                  NaN                  {'P'}
7                                                  NaN                  {'N'}
8                                                  NaN                  {'P'}
9                                                  NaN                    NaN
10                       {'brennan.sanderson@ttu.edu'}                  {'N'}
11                                                 NaN                  {'N'}
12                                                 NaN                  {'N'}
13                              {'abercrombc@aol.com'}                  {'N'}
14   {'WGRAGG@WACOTRIB.COM', 'theatreboxoffice@bayl...                  {'N'}
15                    {'jill@resourcesforleaders.com'}                  {'N'}
16                                 {'tuggleb@ecu.edu'}                  {'N'}
17                                   {'ed014@msn.com'}                  {'N'}
18                                                 NaN                  {'N'}
19                       {'sandstrumfamily@yahoo.com'}                  {'N'}
20                                                 NaN                  {'N'}
21                                                 NaN                  {'P'}
22                                                 NaN                  {'N'}
23                                 {'tickets@msu.edu'}                  {'N'}
24             {'pauleen_wright@comcastspectacor.com'}                  {'N'}
25                                                 NaN                  {'P'}
26                                                 NaN                  {'N'}
27                                                 NaN                  {'P'}
28   {'lwilliams@12thmanfoundation.com', 'test@12th...                  {'N'}
29                               {'bergttu@yahoo.com'}                  {'N'}
..                                                 ...                    ...
970  {'roanderson44@hotmail.com', 'roanderson0427@h...                  {'N'}
971  {'jana_mcwhorter@yahoo.com', 'jmcwhorter@winds...                  {'N'}
972                       {'mccluskey.lynn@gmail.com'}                  {'N'}
973  {'Cyndie_Burgess@baylor.edu', 'JAKECOLL@MSN.COM'}                  {'N'}
974                      {'wjanderson4@sbcglobal.net'}                  {'N'}
975                                                NaN                  {'N'}
976                                                NaN                  {'N'}
977                                                NaN                  {'N'}
978                                                NaN                  {'N'}
979                                                NaN                  {'P'}
980                 {'jlc@sptc.net', 'tippe@sptc.net'}                  {'N'}
981                   {'RUSSELL@GRANDSLAMFINANCE.COM'}                  {'N'}
982                                                NaN                  {'N'}
983                                                NaN                  {'N'}
984                             {'Silvernail@aol.com'}                  {'N'}
985                           {'tcollier37@yahoo.com'}                  {'N'}
986                                                NaN                  {'N'}
987                                                NaN                  {'N'}
988                                                NaN                  {'N'}
989                          {'docbutler@hotmail.com'}                  {'N'}
990                                 {'jweezw@aol.com'}                  {'N'}
991                                                NaN                  {'P'}
992                           {'ron.anderson@ttu.edu'}                  {'N'}
993                          {'catexas@austin.rr.com'}                  {'N'}
994                                                NaN                  {'N'}
995                               {'adoan@harris.com'}                  {'N'}
996                                                NaN                  {'N'}
997                         {'rgnowlin@sbcglobal.net'}                  {'N'}
998                              {'cokey@comcast.net'}                  {'N'}
999                            {'shakadick@gmail.com'}                  {'N'}

                                          account_name
0                          {'Account Being Processed'}
1                           {'Retail Sale No Account'}
2                                   {'Mitchell Carey'}
3                                        {'Nate Sahm'}
4                                          {'Pei Kho'}
5                               {'Williams Fund Fund'}
6                                  {'Patricia Kolich'}
7                                           {'NELSOC'}
8                                {'Ronald White M.D.'}
9      {'Element Retirement & Investment Consultants'}
10                        {'Master Brennan Sanderson'}
11                                          {'--00--'}
12                   {'** Reserved ** System Account'}
13                           {'Dr. C. L. Abercrombie'}
14   {'WENDY GRAGG', 'Mike Abel', 'Test Patron', 'B...
15                                {'Paciolan Systems'}
16                               {'Patricia McKenzie'}
17                                         {'Ed Ryan'}
18                                  {'Leah Sandridge'}
19   {'STUDNET TEST', 'GAME 1', 'NIT Round 1', 'BAS...
20                {'MBB Business Relations Games 1-5'}
21      {'Dump Account For Athl', 'Carol - Spring 00'}
22                                           {'BRIAN'}
23                                     {'PUBLIC TEST'}
24                                 {'Keith Gotowicki'}
25                                    {'Window Sales'}
26                                {'Eugene Zimmerman'}
27                 {'STUDENT', 'SSP - FB Season Comp'}
28                           {'Ticket Office Testing'}
29   {'MARC POS', 'TURNSTYLES1', 'NCAA All-Session ...
..                                                 ...
970                         {'Mr. Robert E. Anderson'}
971  {'Mr. Michael McWhorter', 'Michael and Jana Mc...
972                          {'Ms. Lynn A. McCluskey'}
973           {'J. D. Collier III', 'CYNTHIA BURGESS'}
974                                  {'Rose Anderson'}
975                          {'BOCA-B RENEGADE VAULT'}
976                                  {'Chicago Bears'}
977                             {'Future Game Window'}
978                                  {'Edith Hillyer'}
979                                    {'Legis-Big12'}
980                       {'Jackie Cox and Tippe Cox'}
981               {'Mr. and Mrs. Russell F. Anderson'}
982                              {'Fsuwni--Inventory'}
983                                {'Mr. Jerad Grant'}
984                            {'Mr. Jeff Silvernail'}
985                             {'Collier, Thomas B.'}
986                                 {'Jerri Veenstra'}
987                            {'Dr. Steven T. Emura'}
988                          {'Future Game Inventory'}
989                                  {'Angela Butler'}
990                           {'Dr. James E. Weesner'}
991                                   {'Legis-Game 7'}
992                         {'Dr. Ronald M. Anderson'}
993                           {'Mrs. Louise Anderson'}
994                            {'David Jilek Gameday'}

In [5]:
data

,account_id,org_id,keywords,userdefinedfields,tags,preferredemail,preferredcontactmethod,account_name
0,-2.0,WASHINGTON,{'ACCOU'},NaN,NaN,NaN,{'N'},{'Account Being Processed'}
1,-1.0,WASHINGTON,{'RETAI'},NaN,NaN,NaN,{'N'},{'Retail Sale No Account'}
2,0.0,BAYLOR,"{'CAREYM', 'P2547169727'}",NaN,NaN,NaN,{'N'},{'Mitchell Carey'}
3,0.0,FSU,"{'RE', 'IBM$OVJ5S9SUAFFKTGP7X9-M63PM', 'RE7545...",NaN,"{'F08-SB', 'CONV.ADDR'}",{'delzwtc@gmail.com'},{'N'},{'Nate Sahm'}
4,0.0,HAWAII,{'KHOP'},NaN,NaN,NaN,{'N'},{'Pei Kho'}
5,0.0,KANSAS,NaN,NaN,NaN,NaN,{'N'},{'Williams Fund Fund'}
6,0.0,KSU,"{'P9136429790', 'KOLICP', 'P9135221055'}",NaN,NaN,NaN,{'P'},{'Patricia Kolich'}
7,0.0,NEBRASKA,"{'CURRI', 'P7139555505'}",NaN,"{'ADV12292015', 'ADV01122016'}",NaN,{'N'},{'NELSOC'}
8,0.0,OKLAHOMA,{'WHITER'},NaN,NaN,NaN,{'P'},{'Ronald White M.D.'}
9,0.0,TAM,NaN,NaN,NaN,NaN,NaN,{'Element Retirement & Investment Consultants'}
10,0.0,TTU,"{'PBRENNAN.SANDERSON@TTU.EDU', 'P8067424412', ...",NaN,{'UNLINKED'},{'brennan.sanderson@ttu.edu'},{'N'},{'Master Brennan Sanderson'}
11,0.0,UT-A,NaN,NaN,"{'FB14APP12', '2011DONORS', 'OLDDONRTAG', 'DONR'}",NaN,{'N'},{'--00--'}
12,0.0,WASHINGTON,"{'SYSTER', '832788'}",NaN,{'PPC.ADVCK'},NaN,{'N'},{'** Reserved ** System Account'}
13,1.0,ARKANSAS,"{'IBM$6376681', 'IBM$7071876', 'P5017523344', ...",NaN,"{'FNAME', 'ET', 'STADIUMSURVEY'}",{'abercrombc@aol.com'},{'N'},{'Dr. C. L. Abercrombie'}
14,1.0,BAYLOR,"{'BAYLOR$1902421', 'BAYLOR$6BYMCVPVIZSES5I4HPD...",{'BANNER': '889747180'},{'ADV.PPC060519'},"{'WGRAGG@WACOTRIB.COM', 'theatreboxoffice@bayl...",{'N'},"{'WENDY GRAGG', 'Mike Abel', 'Test Patron', 'B..."
15,1.0,CLEMSON,"{'PIPTAY@CLEMSON.EDU', 'P8887744778', 'PJILL@R...",NaN,NaN,{'jill@resourcesforleaders.com'},{'N'},{'Paciolan Systems'}
16,1.0,ECU,"{'TUGGLB', 'PTUGGLEB@ECU.EDU'}",NaN,{'POI'},{'tuggleb@ecu.edu'},{'N'},{'Patricia McKenzie'}
17,1.0,FRESNO,"{'BDF082792', 'A-1GL', 'OSG20020507'}",NaN,"{'FB14_TRANS_UNLINKED_051314', 'BDFRED_UNLINKE...",{'ed014@msn.com'},{'N'},{'Ed Ryan'}
18,1.0,FSU,"{'SANDRL', 'RE778361', 'P9043866002', 'GTWGROU...",NaN,"{'ATRSTEN-M19', 'BAF21TagPacket_20210226', 'AT...",NaN,{'N'},{'Leah Sandridge'}
19,1.0,IOWA,"{'STUDE', 'P3193359309', 'MBBGA', 'PSANDSTRUMF...",NaN,NaN,{'sandstrumfamily@yahoo.com'},{'N'},"{'STUDNET TEST', 'GAME 1', 'NIT Round 1', 'BAS..."
20,1.0,KANSAS,{'MBBBU'},NaN,"{'ADV12292015', 'ADVDON'}",NaN,{'N'},{'MBB Business Relations Games 1-5'}
21,1.0,KSU,"{'CAROL', 'P511', 'DUMPA'}",NaN,NaN,NaN,{'P'},"{'Dump Account For Athl', 'Carol - Spring 00'}"
22,1.0,LSU,"{'1', 'BRIAN'}",NaN,"{'ADVCK090919', 'ADVCK091119'}",NaN,{'N'},{'BRIAN'}
23,1.0,MICH,"{'PBOGUSEMAIL@GMAIL.COM', '000012832', '000010...","{'UA1': '1000000', 'SG': '1000000', 'AR': '0',...","{'MBBSTH', 'ELS_Failure_030520'}",{'tickets@msu.edu'},{'N'},{'PUBLIC TEST'}
24,1.0,MSSTATE,"{'P6505555555', 'P9495555555', 'PPAULEEN_WRIGH...",{'SHIPMILES': '1667'},"{'2018BDCSCHEDPMT', 'NMC18NONSTHNONDEMAIL', 'B...",{'pauleen_wright@comcastspectacor.com'},{'N'},{'Keith Gotowicki'}
25,1.0,NCSU,"{'SALES', 'GAME', 'PCCFLORES@NCSU.EDU', 'DAY'}",NaN,NaN,NaN,{'P'},{'Window Sales'}
26,1.0,NEBRASKA,NaN,NaN,"{'ADV01122016', 'ADV12292015'}",NaN,{'N'},{'Eugene Zimmerman'}
27,1.0,OKLAHOMA,"{'SSPFB', 'CANTU'}",NaN,NaN,NaN,{'P'},"{'STUDENT', 'SSP - FB Season Comp'}"
28,1.0,TAM,"{'PLACEY.ARNDT@GMAIL.COM', 'PTEST@12THMANFOUND...",NaN,"{'2019NTR1', '2019NormalTaxReceipt', '2018TaxR...","{'lwilliams@12thmanfoundation.com', 'test@12th...",{'N'},{'Ticket Office Testing'}
29,1.0,TTU,"{'NCAAA', 'PBBERG@NELSONFIRM.CM', 'TTU$6151676...","{'RANK': '1', 'ADJPP': '100'}","{'LINKED', 'UNLINKED', 'ADVCK'}",{'bergttu@yahoo.com'},{'N'},"{'MARC POS', 'TURNSTYLES1', 'NCAA All-Session ..."
...,...,...,...,...,...,...,...,...
970,69.0,UT-A,"{'AMTX$SCLGG01-RAC3SSQXRD7X922H', 'AMTX$GAITCW...",{'EID': 'REA77'},"{'WB98SEA', 'OLDDONRTAG', 'WB05SEA', 'VB14SEA'...","{'roanderson44@hotmail.com', 'roanderson0427@h...",{'N'},{'Mr. Robert E. Anderson'}
971,70.0,ARKANSAS,"{'IBM$597067', 'IBM$2520362', 'IBM$823636', 'I...",{'12-31-20RANK': '258 out of 771 Razorback 193...,"{'ET', 'STADIUMSURVEY'}","{'jana_mcwhorter@yahoo.com', 'jmcwhorter@winds...",{'N'},"{'Mr. Michael McWhorter', 'Michael and Jana Mc..."
972,70.0,ARMY,"{'613225', 'OSG814', 'PMCCLUSKEY.LYNN@GMAIL.CO...",NaN,{'F15-CPT-STM-UNLINKED'},{'mccluskey.lynn@gmail.com'},{'N'},{'Ms. Lynn A. McCluskey'}
973,70.0,BAYLOR,"{'P2547511265', 'BURGEC', 'BAYLOR$1146052', 'P...",{'BANNER': '889490911'},{'ADV.PPC060519'},"{'Cyndie_Burgess@baylor.edu', 'JAKECOLL@MSN.COM'}",{'N'},"{'J. D. Collier III', 'CYNTHIA BURGESS'}"
974,70.0,FRESNO,"{'P5592927970', 'FRESNO$6906916', 'ANDERW', 'W...",NaN,"{'FB12LINKEDAWAY_06_20', 'BDFFBRENEW', 'FB12LI...",{'wjanderson4@sbcglobal.net'},{'N'},{'Rose Anderson'}
975,70.0,FSU,"{'BOCAB', 'RE732205', 'RE11135193', 'RE834513'...",NaN,"{'ATRSTEN-M19', 'ATRSTEN.-M19'}",NaN,{'N'},{'BOCA-B RENEGADE VAULT'}
976,70.0,IOWA,{'CHICA'},NaN,NaN,NaN,{'N'},{'Chicago Bears'}
977,70.0,KANSAS,{'FUTUR'},NaN,NaN,NaN,{'N'},{'Future Game Window'}
978,70.0,NEBRASKA,"{'P4884852', 'P4831311', 'HILLYE'}",NaN,NaN,NaN,{'N'},{'Edith Hillyer'}
979,70.0,OKLAHOMA,{'LEGIS'},NaN,NaN,NaN,{'P'},{'Legis-Big12'}
980,70.0,TTU,"{'TTU$', 'TTU$UFNJDWWYH51KHGZVTHVXDSYB', 'TTU$...",{'RANK': '1'},"{'LINKED', 'ADVCK'}","{'jlc@sptc.net', 'tippe@sptc.net'}",{'N'},{'Jackie Cox and Tippe Cox'}
981,70.0,UT-A,"{'AMTX$11326822', 'AMTX$5221756', 'AMTX$603985...",{'EID': 'RFA67'},"{'OLDDONRTAG', 'MB15', 'BB15SEA', 'FB06SEA', '...",{'RUSSELL@GRANDSLAMFINANCE.COM'},{'N'},{'Mr. and Mrs. Russell F. Anderson'}
982,70.0,WASHINGTON,{'FSUWN'},NaN,NaN,NaN,{'N'},{'Fsuwni--Inventory'}
983,71.0,ARKANSAS,"{'GRANTJ', 'P8707049256'}",NaN,{'ET'},NaN,{'N'},{'Mr. Jerad Grant'}
984,71.0,ARMY,"{'P2156305216', '907190', 'PPAULLGRUNER@AOL.CO...",NaN,{'F15-CPT-STM-LINKED'},{'Silvernail@aol.com'},{'N'},{'Mr. Jeff Silvernail'}
985,71.0,BAYLOR,"{'BAYLOR$1936667', 'BAYLOR$37399', 'PTCOLLIER3...",{'BANNER': '889285262'},{'ADV.PPC060519'},{'tcollier37@yahoo.com'},{'N'},"{'Collier, Thomas B.'}"
986,71.0,FSU,"{'VEENSJ', 'RE595804', 'P8504137890', 'RE11135...",NaN,"{'ATRSTEN-M19', 'ATRSTEN.-M19'}",NaN,{'N'},{'Jerri Veenstra'}
987,71.0,HAWAII,"{'EMURAS', 'OSG848', 'P7357759', 'P5374911'}",NaN,NaN,NaN,{'N'},{'Dr. Steven T. Emura'}
988,71.0,KANSAS,{'FUTUR'},NaN,NaN,NaN,{'N'},{'Future Game Inventory'}
989,71.0,MICH,"{'P6164503646', 'PDOCBUTLER@HOTMAIL.COM', 'P51...",{'WCO': 'M1035337'},"{'WHCONV', 'WCLINK'}",{'docbutler@hotmail.com'},{'N'},{'Angela Butler'}
990,71.0,NEBRASKA,"{'WEESNJ', 'IBM$6502861', 'IBM$', 'P4024234124...","{'ADN': '928', 'ACN': 'Weesner, James E.'}",{'ADVCK092619'},{'jweezw@aol.com'},{'N'},{'Dr. James E. Weesner'}
991,71.0,OKLAHOMA,{'LEGIS'},NaN,NaN,NaN,{'P'},{'Legis-Game 7'}
992,71.0,TTU,"{'PRON.ANDERSON@TTU.EDU', 'ANDERR', 'P80654327...",NaN,{'UNLINKED'},{'ron.anderson@ttu.edu'},{'N'},{'Dr. Ronald M. Anderson'}
993,71.0,UT-A,"{'AMTX$13023657', 'PWRANDERSON@AUSTIN.RR.COM'}",{'EID': '0252REWR'},"{'DONORFB15', 'BB92SEA', 'LA10TT', 'OLDDONRTAG...",{'catexas@austin.rr.com'},{'N'},{'Mrs. Louise Anderson'}
994,71.0,WASHINGTON,{'DAVID'},NaN,NaN,NaN,{'N'},{'David Jilek Gameday'}
995,72.0,ARKANSAS,"{'IBM$632080', 'DOANN', 'P8705744529', 'IBM$11...",NaN,"{'ET', 'STADIUMSURVEY'}",{'adoan@harris.com'},{'N'},{'Ms. Natalie McWhorter Doan'}
996,72.0,ARMY,"{'P5183742738', 'GUERRA'}",NaN,NaN,NaN,{'N'},{'Mr. Anthony Guerriero'}
997,72.0,BAYLOR,"{'P9037945415', '2454', 'P2547766874', 'GARYL'...",{'BANNER': '889657199'},{'ADV.PPC060519'},{'rgnowlin@sbcglobal.net'},{'N'},"{'ROBERT NOWLIN', 'D Lloyd E. Gary'}"
998,72.0,FSU,"{'CLEMOB', 'PCOKEY@COMCAST.NET', 'RE72782', 'R...",NaN,"{'SEASONTICKETS', 'ATRSTEN-M19', 'CONV.ADDR', ...",{'cokey@comcast.net'},{'N'},{'Brad Clemons'}
999,72.0,HAWAII,"{'HAWAII$F-YKTK6JSFNO0D3PWJQAISRK', 'OSG32507'...",NaN,NaN,{'shakadick@gmail.com'},{'N'},{'Dick Eshima'}

### Adding Missing Ones

In [4]:
# first = pd.read_csv("cleaned_v4/cleaned_accounts_v4.csv")
second = pd.read_csv("cleaned_accounts_2_v1.csv")

In [6]:
chunk = pd.concat([first,second])

In [9]:
cols = ["keywords","userdefinedfields","tags"]
concat_cols = ["keywords","userdefinedfields","tags",
 "preferredemail","preferredcontactmethod","account_name"]
columns = ["account_id","org_id","keywords","userdefinedfields",
           "tags","preferredemail","preferredcontactmethod",
           "account_name"]

if len(chunk) != len(chunk.drop_duplicates(subset = ["account_id","org_id"])):
    print("len(chunk):",len(chunk))
    
    ### Simple Formatting
    for col in concat_cols:
        print("col1:",col)
        chunk[col] = chunk[col].apply(lambda x: x[1:-1] if type(x)==str and "{" in x else x)

    ### Merge into Set or Dict (only keep the earliest records)
    result = chunk.fillna("").groupby(["account_id","org_id"], 
                          as_index = False).agg({"keywords":",".join,
                                                "userdefinedfields":",".join,
                                                "tags":",".join,
                                                "preferredemail":",".join,
                                                "preferredcontactmethod":",".join,
                                                "account_name":",".join}) 
    for col in concat_cols:
        print("col2:",col)
        result[col] = result[col].apply(remove_duplicates2)
    result.to_csv(f"cleaned_v5/cleaned_accounts_v5.csv", index = False)

    print(len(result))
else:
    chunk.to_csv(f"cleaned_v5/cleaned_accounts_v5.csv", index = False)

len(chunk): 11336254
col1: keywords
col1: userdefinedfields
col1: tags
col1: preferredemail
col1: preferredcontactmethod
col1: account_name
col2: keywords

NameError: name 'remove_duplicates2' is not defined

In [12]:
for col in concat_cols:
    print("col2:",col)
    result[col] = result[col].apply(remove_duplicates2)
result.to_csv(f"cleaned_v5/cleaned_accounts_v5.csv", index = False)
result

col2: keywords
col2: userdefinedfields
col2: tags
col2: preferredemail
col2: preferredcontactmethod
col2: account_name

,account_id,org_id,keywords,userdefinedfields,tags,preferredemail,preferredcontactmethod,account_name
0,-2,WASHINGTON,{'ACCOU'},NaN,NaN,NaN,{'N'},{'Account Being Processed'}
1,-1,WASHINGTON,{'RETAI'},NaN,NaN,NaN,{'N'},{'Retail Sale No Account'}
2,0,BAYLOR,"{'P2547169727', 'CAREYM'}",NaN,NaN,NaN,{'N'},{'Mitchell Carey'}
3,0,FSU,"{'IBM$OVJ5S9SUAFFKTGP7X9-M63PM', 'RE80747', 'R...",NaN,"{'F08-SB', 'CONV.ADDR'}",{'delzwtc@gmail.com'},{'N'},{'Nate Sahm'}
4,0,HAWAII,{'KHOP'},NaN,NaN,NaN,{'N'},{'Pei Kho'}
...,...,...,...,...,...,...,...,...
10868776,999906,UT-A,"{'WASHBJ', 'P9319938613', 'PJWashburn47@bethel...",NaN,NaN,NaN,{'N'},{'Jake Washburn'}
10868777,999907,UT-A,"{'Ptwhigginbotham@live.com', 'HIGGIT', 'P90334...",NaN,NaN,NaN,{'N'},{'Tyler Higginbotham'}
10868778,9999190744,USC,"{'IBM$', 'P2137409059', 'IBM$AAPWAQZ3USQ4IDZ99...",NaN,"{'I.TRANS', 'ADVCK103119'}",{'lyoneda@usc.edu'},{'N'},{'Laura Reiko Yoneda'}
10868779,999987,UT-A,"{'WIGHTR', 'P5082412209', 'Pcapecodbrothers@gm...",NaN,NaN,NaN,{'N'},{'Robby Wight'}
10868780,U-MEMBER,FSU,"{'A', 'OSGU-MEMBER'}",NaN,NaN,NaN,{'N'},{'MEMBER IDENTIFICATION NUMBER'}

In [13]:
s3 = boto3.client('s3')
with open('cleaned_v5/cleaned_accounts_v5.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/cleaned_accounts_v5.csv')

In [39]:
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:orgid::string AS org_id,
                    DATA:id::string as account_id,
                    DATA:dbid::string as client_id,
                    DATA:categories as categories,
                    DATA:currentpoints as currentpoints,
                    DATA:donormemberships AS donormemberships,
                    DATA:firstallociddriveyears AS firstallociddriveyears,
                    DATA:firstdate AS firstdate,
                    DATA:firstgiftamount AS firstgiftamount,
                    DATA:greatestallociddriveyears AS greatestallociddriveyears,
                    DATA:greatestdate AS greatestdate,
                    DATA:greatestgiftamount AS greatestgiftamount,
                    DATA:lastallociddriveyears AS lastallociddriveyears,
                    DATA:lastdate AS lastdate,
                    DATA:lastgiftamount AS lastgiftamount,
                    DATA:lastupdatemembership AS lastupdatemembership,
                    DATA:lastupdateprioritypoints AS lastupdateprioritypoints,
                    DATA:lastupdatestatistics AS lastupdatestatistics,
                    DATA:lifetimedonationamount AS lifetimedonationamount,
                    DATA:pointsrank::integer AS pointsrank,
                    DATA:yearsofdonating::integer AS yearsofdonating
                    from donors where lastdate>20180101
                    limit 10''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

donor_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
print(donor_df)

  ORG_ID ACCOUNT_ID CLIENT_ID  \
0    TAM   53872385       TAM
1    TAM     270189       TAM
2    TAM      12560       TAM
3    TAM     499439       TAM
4    TAM     601097       TAM
5    TAM      11735       TAM
6    TAM     472563       TAM
7    TAM  425005417       TAM
8    TAM  425005641       TAM
9    TAM  425006182       TAM

                                          CATEGORIES CURRENTPOINTS  \
0                                               None             0
1  {\n  "2015FBRoadList": "",\n  "FB18": "1",\n  ...             0
2  {\n  "2015FBRoadList": "",\n  "BD": "17",\n  "...             0
3  {\n  "2015FBRoadList": "",\n  "AA": "",\n  "AA...             0
4  {\n  "BD": "9",\n  "FB18": "1",\n  "G": "",\n ...             0
5  {\n  "2015FBRoadList": "",\n  "AA": "",\n  "BD...             0
6                                               None             0
7                                               None          None
8                                               None          None
9                                               None          None

                                    DONORMEMBERSHIPS  \
0  {\n  "TMF-MEMBER::2019": {\n    "pledgedlevel"...
1  {\n  "12::2013": {\n    "pledgedlevel": {\n   ...
2  {\n  "12::2013": {\n    "pledgedlevel": {\n   ...
3  {\n  "12::2013": {\n    "pledgedlevel": {\n   ...
4  {\n  "12::2013": {\n    "pledgedlevel": {\n   ...
5  {\n  "AA::1999": {\n    "pledgedlevel": {\n   ...
6                                               None
7                                               None
8                                               None
9                                               None

                              FIRSTALLOCIDDRIVEYEARS  \
0  [\n  {\n    "value1": "FSC",\n    "value2": "2...
1  [\n  {\n    "value1": "SWC",\n    "value2": "2...
2  [\n  {\n    "value1": "LIFE",\n    "value2": "...
3  [\n  {\n    "value1": "FB",\n    "value2": "20...
4  [\n  {\n    "value1": "LIFE",\n    "value2": "...
5  [\n  {\n    "value1": "ENDOW",\n    "value2": ...
6  [\n  {\n    "value1": "FB",\n    "value2": "19...
7                                               None
8                                               None
9                                               None

                    FIRSTDATE FIRSTGIFTAMOUNT  \
0  "2019-05-07T13:27:31.693Z"            7500
1  "2010-06-16T05:00:00.000Z"           70000
2  "1993-12-31T06:00:00.000Z"         2915000
3  "2001-07-06T05:00:00.000Z"           15000
4  "1993-12-31T06:00:00.000Z"           30000
5  "1993-12-31T06:00:00.000Z"         2220000
6  "1999-04-22T05:00:00.000Z"           10000
7                        None            None
8                        None            None
9                        None            None

                           GREATESTALLOCIDDRIVEYEARS  ... GREATESTGIFTAMOUNT  \
0  [\n  {\n    "value1": "FSC",\n    "value2": "2...  ...               7500
1  [\n  {\n    "value1": "FSC",\n    "value2": "2...  ...             150000
2  [\n  {\n    "value1": "LIFE",\n    "value2": "...  ...            2915000
3  [\n  {\n    "value1": "FSC",\n    "value2": "2...  ...            1000000
4  [\n  {\n    "value1": "FB",\n    "value2": "20...  ...             173700
5  [\n  {\n    "value1": "CAP4-SOC",\n    "value2...  ...            3000000
6  [\n  {\n    "value1": "FB",\n    "value2": "19...  ...              10000
7                                               None  ...               None
8                                               None  ...               None
9                                               None  ...               None

                               LASTALLOCIDDRIVEYEARS  \
0  [\n  {\n    "value1": "FSC",\n    "value2": "2...
1  [\n  {\n    "value1": "FSC",\n    "value2": "2...
2  [\n  {\n    "value1": "FSC",\n    "value2": "2...
3  [\n  {\n    "value1": "FSC",\n    "value2": "2...
4  [\n  {\n    "value1": "FSC",\n    "value2": "2...
5  [\n  {\n    "value1": "AGBAND",\n    "value2":...
6  [\n  {\n    "value1": "FB",\n    "value2": "19...
7                                               None
8                                               None
9                                               None

                     LASTDATE LASTGIFTAMOUNT        LASTUPDATEMEMBERSHIP  \
0  "2019-05-07T13:27:31.693Z"           7500  "2019-05-08T01:19:48.394Z"
1  "2020-02-10T03:15:47.480Z"          58333  "2020-02-10T03:21:11.665Z"
2  "2020-02-27T02:59:31.913Z"         105000  "2020-02-27T03:34:58.326Z"
3  "2020-03-03T18:44:58.645Z"         417500  "2020-03-04T03:24:23.810Z"
4  "2020-02-23T23:47:22.155Z"         140000  "2020-02-24T03:21:55.155Z"
5  "2020-02-18T06:00:00.000Z"          10000  "2020-02-20T03:21:49.810Z"
6  "1999-04-22T05:00:00.000Z"          10000                        None
7                        None           None                        None
8                        None           None                        None
9                        None           None                        None

     LASTUPDATEPRIORITYPOINTS        LASTUPDATESTATISTICS  \
0  "2020-03-04T01:31:41.716Z"  "2020-03-04T03:23:14.298Z"
1  "2020-03-04T02:10:32.130Z"  "2020-03-04T03:24:10.336Z"
2  "2020-03-04T01:29:04.290Z"  "2020-03-04T03:24:23.430Z"
3  "2020-03-04T01:26:13.152Z"  "2020-03-04T03:24:23.812Z"
4  "2020-03-04T00:36:20.003Z"  "2020-03-04T03:24:25.837Z"
5  "2020-03-04T01:25:00.064Z"  "2020-03-04T03:24:28.559Z"
6  "2018-08-23T10:32:42.653Z"  "2020-03-04T03:18:10.913Z"
7                        None                        None
8                        None                        None
9                        None                        None

  LIFETIMEDONATIONAMOUNT POINTSRANK  YEARSOFDONATING
0                   7500        0.0              1.0
1                1116200        0.0             11.0
2                5987800        0.0             22.0
3               10104150        0.0             20.0
4                3102375        0.0             22.0
5                9882700        0.0             14.0
6                  10000        0.0              1.0
7                   None        NaN              NaN
8                   None        NaN              NaN
9                   None        NaN              NaN

[10 rows x 21 columns]

In [44]:
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:id::string as donor_cat_id,
                    DATA:dbid::string as org_id,
                    DATA:name:en_US::string as donor_cat_name
                    from donorcategories 
                    limit 10''')

donor_cat_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
print(donor_cat_df)

  DONOR_CAT_ID    ORG_ID                             DONOR_CAT_NAME
0            A   MSSTATE                                  Anonymous
1       LAPSED   MSSTATE                              Lapsed Donors
2       KFWPSP       TAM        Kyle Field West Prime Suite Primary
3  19RenewSent      NCSU     2019 Annual Giving Renewal Packet Sent
4       KFWLSP       TAM       Kyle Field West Legacy Suite Primary
5           CD      NCSU                                 Car Dealer
6      BD10MBB      NCSU                     Bank Draft 10 Year MBB
7    IMPROVEBB  ARKANSAS  BASKETBALL SUITE IMPROVEMENT WAITING LIST
8          MGC  ARKANSAS                      Matching Gift Company
9          A14       USC                        DO NOT ACCEPT GIFTS

In [45]:
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:accountdbid::string as accountdbid,
                    DATA:id::string as client_id,
                    DATA:description:en_US::string as description,
                    DATA:name:en_US::string AS name
                    from organizations 
                    limit 10''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

organization_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
print(organization_df)

  ACCOUNTDBID   CLIENT_ID                                        DESCRIPTION  \
0  CORALVILLE  CORALVILLE                        Xtream Arena and Fieldhouse
1  CORALVILLE  CORALVILLE
2         CCA         CCA  TicketsWest - The Classic Center Authority for...
3      TWBLFC      TWBLFC                    Birmingham Legion Football Club
4        UT-D        UT-D                                               UT-D
5     UGAARTS     UGAARTS       University of Georgia Performing Arts Center
6        USAL        USAL                        University of South Alabama
7  WASHINGTON  WASHINGTON                           University of Washington
8        NCSU        NCSU                                           NC State
9        IOWA        IOWA                                 University of Iowa

                       NAME
0                coralville
1                coralville
2                       CCA
3                    TWBLFC
4                      UT-D
5                   UGAARTS
6                      USAL
7  University of Washington
8                      NCSU
9        University of IOWA

In [47]:
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:dbid::string AS client_id,
                    DATA:allocationgroupid::string as allocationgroupid,
                    DATA:annualgift::boolean as annualgift,
                    DATA:charitablepercent as charitablepercent,
                    DATA:consumerfunddescription::string AS consumerfunddescription,
                    DATA:consumerfundname:en_US::string AS consumerfundname,
                    DATA:id::string AS alloc_id,
                    DATA:lifetimegiving::boolean AS lifetimegiving,
                    DATA:name:en_US::string AS name,
                    DATA:prioritypointpercent AS prioritypointpercent,
                    DATA:deadlineday AS deadlineday,
                    DATA:deadlinefactor AS deadlinefactor,
                    DATA:deadlinemonth AS deadlinemonth,
                    DATA:deadlineyear AS deadlineyear,
                    DATA:isexcludedfromdonationhistory AS isexcludedfromdonationhistory,
                    DATA:yearsofgiving AS yearsofgiving
                    from allocations 
                    limit 10''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

alloc_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
print(alloc_df)

  CLIENT_ID      ALLOCATIONGROUPID  ANNUALGIFT CHARITABLEPERCENT  \
0   CLASS3A                     AF        True                 0
1   MSSTATE                    Cap        True                 0
2   MSSTATE                 Annual        True                 0
3    CLASS1                 CLASS1        True                 0
4    CLASS1                 CLASS1        True                 0
5      NCSU          SeatingRights       False                 0
6    CLASS1                    CAP       False                 0
7       TAM                     DR        True                 0
8      NCSU  AnnualScholarshipFund        True                 0
9       TAM                   CAP2       False               100

                             CONSUMERFUNDDESCRIPTION  \
0
1
2
3
4
5
6
7
8  <p>Support the Wolfpack by advertising in&nbsp...
9

               CONSUMERFUNDNAME       ALLOC_ID  LIFETIMEGIVING  \
0                                           AF            True
1  Basketball Practice Facility     BB-PRACFAC            True
2                  Bulldog Club            BDC            True
3                                         DYER           False
4                      Uniforms  JERM_UNIFORMS            True
5              PP Red Zone 2023         PPRZ23            True
6                                      CAP-ANN            True
7          2017 Trustee Retreat         2017TR           False
8            Annual Advertising            ADV            True
9         Basketball Facilities      CAP2-BASK            True

                             NAME PRIORITYPOINTPERCENT DEADLINEDAY  \
0                     Annual Fund                    0    -7777777
1    Basketball Practice Facility                    0          31
2                    Bulldog Club                    0          31
3                       Dyer Fund                    0           1
4                Jerseys & Shorts                    0    -7777777
5                PP Red Zone 2023                  100           0
6                Capital Projects                    0           0
7            2017 Trustee Retreat                    0    -7777777
8              Annual Advertising                  100          31
9  Capital Campaign P2 Basketball                  100           0

  DEADLINEFACTOR DEADLINEMONTH DEADLINEYEAR ISEXCLUDEDFROMDONATIONHISTORY  \
0              0      -7777777     -7777777                         false
1              0            11     -7777777                         false
2              0            11     -7777777                         false
3              0             6     -7777777                         false
4              0      -7777777     -7777777                         false
5              0             0            0                         false
6              0             0            0                         false
7              0      -7777777     -7777777                          true
8              0            11         2015                         false
9              0             0            0                         false

  YEARSOFGIVING
0          true
1          true
2          true
3          true
4          true
5          true
6          true
7         false
8          true
9          true

In [48]:
cs = omni.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:dbid::string AS client_id,
                    DATA:id::string AS allocationgroupid,
                    DATA:name:en_US::string AS name
                    from allocgroups
                    limit 10''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

alloc_grp_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
print(alloc_grp_df)

  CLIENT_ID      ALLOCATIONGROUPID                     NAME
0      NCSU  AnnualScholarshipFund  Annual Scholarship Fund
1      NCSU          SpecialEvents           Special Events
2       TAM                    CAP         Capital Campaign
3   MSSTATE                    BDC             Bulldog Club
4      MICH                    END               Endowments
5      MICH                      I                 Inactive
6      MICH                PLANNED           Planned Giving
7    BAYLOR                     MG           Matching Gifts
8  ARKANSAS                    OTH                    Other
9  OKLAHOMA                     BC             Booster Club

In [67]:
cs = omni.cursor()
cur = cs.execute('''SELECT  
                    DATA:dbid::string AS client_id,
                    DATA:accountdbid::string AS accountdbid,
                    DATA:accountid::string AS account_id,
                    DATA:allocationid::string AS allocationid,
                    DATA:allocgroupid::string AS allocgroupid,
                    DATA:batchid::string AS batchid,
                    DATA:channelid::string AS channelid,
                    DATA:allocationid::string AS allocationid,
                    DATA:creditamount::string AS creditamount,
                    DATA:driveyear AS driveyear,
                    DATA:fundtype::string AS fundtype,
                    DATA:giftid::string AS giftid,
                    DATA:id::string AS transaction_item_id,
                    DATA:pledgeamount::string AS pledgeamount,
                    DATA:receiveddate::string AS receiveddate,
                    DATA:transactionid::string AS transactionid
                    from transactionitems 
                    limit 10 offset 300 ''')
# WHERE LEN(DATA:keywords::STRING) > 0
# for col1 in cur:
# #     df = {"account_name":col1[0],
# #          }
# #     acct_list.append()
#     print(col1)

transactionItem_df = pd.DataFrame.from_records(iter(cur), 
                                            columns=[x[0] for x in cur.description])
print(transactionItem_df)

  CLIENT_ID ACCOUNTDBID ACCOUNT_ID ALLOCATIONID ALLOCGROUPID BATCHID  \
0       TAM         TAM     469564     CAP5-LFF         CAP5       9
1       TAM         TAM   44386438    KFC-NB600          KFC       9
2       TAM         TAM    2946968     KFCFS-NB          KFC       9
3       TAM         TAM  411003692    KFC-TMFNA          KFC       9
4       TAM         TAM  522009347   KFC-TMFSLB          KFC       9
5       TAM         TAM     600753    KFC-NA550          KFC       9
6       TAM         TAM   53868696    KFC-SB600          KFC       9
7       TAM         TAM   43001452    KFC-NB600          KFC       9
8       TAM         TAM   34351438     KFCFS-NB          KFC       9
9       TAM         TAM   28981441    KFC-NB600          KFC       9

  CHANNELID ALLOCATIONID CREDITAMOUNT DRIVEYEAR FUNDTYPE  GIFTID  \
0       TAM     CAP5-LFF            0         0        S   60361
1       TAM    KFC-NB600            0         0        S  218224
2       TAM     KFCFS-NB            0         0        S  227049
3       TAM    KFC-TMFNA            0         0        S  315901
4       TAM   KFC-TMFSLB            0         0        S  187990
5       TAM    KFC-NA550            0         0        S  147317
6       TAM    KFC-SB600            0         0        S  483051
7       TAM    KFC-NB600            0         0        S  110791
8       TAM     KFCFS-NB            0         0        S  297219
9       TAM    KFC-NB600            0         0        S   94225

  TRANSACTION_ITEM_ID PLEDGEAMOUNT              RECEIVEDDATE TRANSACTIONID
0                   1            0  2016-08-05T05:00:00.000Z       1593121
1                   1            0  2016-08-08T05:00:00.000Z       1593253
2                   1        10000  2016-08-05T05:00:00.000Z       1593138
3                   1            0  2016-08-04T05:00:00.000Z       1593113
4                   1        75000  2016-08-08T05:00:00.000Z       1593257
5                   1       100000  2016-08-05T05:00:00.000Z       1593125
6                   1            0  2016-08-08T05:00:00.000Z       1593205
7                   1            0  2016-08-05T05:00:00.000Z       1593154
8                   1       100000  2016-08-12T05:00:00.000Z       1593855
9                   1        -5000  2016-08-12T05:00:00.000Z       1593819

## Gifts (Max)

## AccountPriorityPointsProgramDetails (Marlene)

## RankResults (Marlene)

## Ticket -> events data

In [7]:
ticketing = sfc.connect(
    user='cs2021_user3',
    password='Cap2021Stone-3',
    account='paciolan',
    warehouse='capstone2021_wh',#'capstone2021_wh',
    database='omni_raw',
    schema='ticketing',
    role = 'CAPSTONE2021_ROLE'
)

### Ticket Season

In [11]:
cs = ticketing.cursor()
cur = cs.execute('''SELECT DISTINCT DATA:ACTIVITY::string as ACTIVITY,
                    DATA:SOURCE_ID::string as ORG_ID,
                    DATA:LAST_DATETIME::datetime as LAST_DATETIME,
                    DATA:NAME::string AS NAME,
                    DATA:SEASON::string AS SEASON,
                    DATA:SIZE::string AS SIZE
                    from "CAPSTONE2020"."TICKETING"."TK_SEASON"''')

tk_season_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
tk_season_df.columns = [c.lower() for c in tk_season_df.columns]
print(len(tk_season_df))
tk_season_df.to_csv("ticket_season.csv", index = False)

3643

In [4]:
s3 = boto3.client('s3')
with open('ticket_season.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/ticket_season.csv')

In [29]:
tk_season_df = pd.read_csv("ticket_season.csv")

In [8]:
tk_season_df

,activity,org_id,last_datetime,name,season,size
0,VB,BAYLOR,2013-02-26 09:15:15,2012 Acrobatics & Tumbling,AT12,M
1,VB,BAYLOR,2013-04-30 15:20:03,Acrobatics & Tumbling 2013,AT13,T
2,VB,BAYLOR,2014-01-23 14:03:05,Acrobatics & Tumbling 2014,AT14,T
3,VB,BAYLOR,2015-01-27 08:17:17,Acrobatics & Tumbling 2015,AT15,T
4,VB,BAYLOR,2017-01-09 11:29:14,2016 Acrobatics and Tumbling,AT16,T
5,VB,BAYLOR,2017-12-11 14:25:46,2017 Acrobatics and Tumbling,AT17,T
6,VB,BAYLOR,2018-10-02 10:24:10,2019 Acrobatics & Tumbling,AT19,M
7,VB,BAYLOR,2019-12-20 11:19:14,2020 Acrobatics & Tumbling,AT20,M
8,B,BAYLOR,2015-06-19 11:52:38,MEN'S BASKETBALL 2000/01,BB01,L
9,BB,BAYLOR,2013-02-19 17:14:04,MEN'S BASKETBALL 2001/2002,BB02,M
10,SA,BAYLOR,2013-02-19 17:14:14,BDSC TICKET OFFICE,BDSC12,S
11,SA,BAYLOR,2016-02-05 04:41:17,BDSC TICKET OFFICE,BDSC13,S
12,SA,BAYLOR,2015-05-12 16:45:17,BDSC TICKET OFFICE 2014,BDSC14,S
13,SA,BAYLOR,2016-05-10 11:17:19,BDSC TICKET OFFICE 2015,BDSC15,S
14,SA,BAYLOR,2017-05-02 15:52:29,BDSC Ticket Office 2016-2017,BDSC16,S
15,SA,BAYLOR,2018-04-13 23:54:52,BDSC Ticket Office 2017-2018,BDSC17,S
16,SA,BAYLOR,2019-03-06 11:46:57,BDSC Ticket Office 2018-2019,BDSC18,M
17,SA,BAYLOR,2020-04-20 14:15:43,BDSC TICKET OFFICE 2019-2020,BDSC19,L
18,BOP,BAYLOR,2013-02-19 17:14:35,BAYLOR OPERA THEATRE 2002,BOP02,T
19,BOP,BAYLOR,2013-02-19 17:14:44,BAYLOR OPERA THEATRE,BOP03,T
20,BB,BAYLOR,2013-02-19 17:14:52,BASEBALL 2001,BS01,L
21,BB,BAYLOR,2013-02-19 19:06:40,BASEBALL 2004,BS04,L
22,BB,BAYLOR,2013-02-19 19:06:48,BASEBALL 2005,BS05,L
23,BB,BAYLOR,2013-02-19 19:07:03,BASEBALL 2007,BS07,L
24,BB,BAYLOR,2013-02-19 19:07:12,BASEBALL 2008,BS08,L
25,BB,BAYLOR,2013-02-19 19:07:19,BASEBALL 2009,BS09,L
26,BB,BAYLOR,2016-06-01 16:07:47,2012 Baylor Baseball,BS12,L
27,BB,BAYLOR,2014-06-12 09:30:37,Baseball 2014,BS14,L
28,BB,BAYLOR,2019-05-07 15:53:16,Baseball 2019,BS19,L
29,BB,BAYLOR,2019-10-22 13:37:10,Baseball 2020,BS20,L
...,...,...,...,...,...,...
3613,MS,NCSU,2018-07-11 10:20:46,Men's Soccer 2014,MS14,S
3614,WS,NCSU,2018-07-11 10:27:08,Women's Soccer 2014,WS14,S
3615,AP,USC,2019-11-07 13:29:20,Access Pass 17/18,AP17,L
3616,O,USC,2016-08-01 18:28:28,Community Programs,CP12,S
3617,F,USC,2019-11-05 21:46:46,Football 2011,F11,H
3618,F,USC,2013-12-16 10:49:40,Post Season F13,PF13,M
3619,C,MICHST,2010-07-13 13:51:49,CHAMPIONSHIPS 2002-03,C02,T
3620,WC,MICHST,2018-04-25 09:24:21,Department of Theatre 18-19 Season,DOT1819,M
3621,H,MICHST,2010-07-13 13:58:06,1994-95 Spartan Hockey,H94,S
3622,WC,MICHST,2017-06-07 09:54:00,College of Music 17-18 Season,MUS1718,M
3623,WB,MICHST,2013-04-18 13:33:40,2010-11 Women's Basketball,W10,L
3624,B,TAM,2020-03-02 11:20:46,2020 Basketball,B20,L
3625,BS,TAM,2020-02-21 15:45:15,2020 Baseball,BS20,M
3626,VB,TAM,2020-04-02 13:38:39,2020 Volleyball,VB20,S
3627,PSL,TTU,2012-03-29 18:47:05,SEAT LICENSE,PSL,L
3628,SOC,TTU,2014-06-30 14:35:54,SOCCER 2014,S14,S
3629,SOC,TTU,2017-07-21 13:00:46,SOCCER 2017,S17,S
3630,SOFT,TTU,2016-12-15 12:43:48,SOFTBALL 2017,SB17,S
3631,VB,TTU,2019-07-08 15:15:35,VOLLEYBALL 2019,V19,S
3632,MBB,WYOMING,2019-09-03 13:00:42,Cowboy Basketball 2019-20,B19,L
3633,CC,WYOMING,2007-05-24 08:28:15,SPECIAL EVENTS 01-02,C01,S
3634,CC,WYOMING,2005-06-07 13:37:20,Special Events 2005-06,C05,M
3635,FB,WYOMING,2016-04-01 06:13:10,Football 2012,F12,M
3636,FC,WYOMING,2019-10-02 14:12:07,Mountain West Conference Football Championship...,FC19,S
3637,HOF,WYOMING,2018-04-24 11:04:32,Hall of Fame 2018,HOF18,M
3638,HOF,WYOMING,2020-03-30 08:39:12,Hall of Fame 2020,HOF20,S
3639,CC,WYOMING,2017-07-28 10:49:55,Volleyball 2009,V09,S
3640,WB,WYOMING,2014-10-24 11:55:30,Women's Basketball 2014-15,WB14,L
3641,WB,WYOMING,2017-04-13 09:45:34,Cowgirl Basketball 2017-18,WB17,L
3642,WB,WYOMING,2019-03-21 09:15:50,WNIT 2018-19,WBN18,L

### Ticket Region ZIP (VMC may be vendind machine control???  VMC is unique but zip is not)

In [8]:
cs = ticketing.cursor()
cur = cs.execute('''SELECT DISTINCT 
                    DATA:SOURCE_ID::string as ORG_ID,
                    DATA:VMC::string as VMC,
                    DATA:ZIP::string AS ZIP
                    from "CAPSTONE2020"."TICKETING"."TK_REGION_ZIP"''')

tk_region_zip_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
tk_region_zip_df.columns = [c.lower() for c in tk_region_zip_df.columns]
print(len(tk_region_zip_df))
tk_region_zip_df.to_csv("ticket_region_zip.csv", index = False)

19833

In [9]:
s3 = boto3.client('s3')

with open('ticket_region_zip.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/ticket_region_zip.csv')

In [13]:
tk_region_zip_df[tk_region_zip_df.org_id.str.contains("NCSU")]

     org_id vmc    zip
3216   NCSU   1  80301

### Ticket Transaction Item Event

In [8]:
cs = ticketing.cursor()
start = time.time()
cur = cs.execute('''SELECT DATA:CUSTOMER::string as account_id,
                    DATA:SOURCE_ID::string as ORG_ID,
                    DATA:TRANS_NO::string as TRANS_NO,
                    DATA:VMC AS VMC,
                    DATA:DATE::datetime as DATE,
                    DATA:EVENT::string AS EVENT,
                    DATA:SEASON::STRING AS SEASON,
                    DATA:E_OQTY AS E_OQTY,
                    DATA:E_PL::string AS E_PL,
                    DATA:E_PRICE::string AS E_PRICE,
                    DATA:TOTAL_EPAY AS TOTAL_EPAY,
                    DATA:TOTAL_CPAY AS TOTAL_CPAY,
                    DATA:TOTAL_FPAY AS TOTAL_FPAY,
                    DATA:TOTAL_SPAY AS TOTAL_SPAY
                    from "CAPSTONE2020"."TICKETING"."TK_TRANS_ITEM_EVENT" 
                    where YEAR(DATE) >= 2018''')
end1 = time.time()
print("execute sql:",end1 - start)
tk_trans_item_event_df = pd.DataFrame.from_records(iter(cur), columns=[x[0] for x in cur.description])
end2 = time.time()
print("convert to pandas df:",end2 - end1)
tk_trans_item_event_df.columns = [c.lower() for c in tk_trans_item_event_df.columns]
print(len(tk_trans_item_event_df))
tk_trans_item_event_df.to_csv("ticket_trans_item_event.csv", index = False)
end3 = time.time()
print("save as csv:",end3 - end2)
print(tk_trans_item_event_df)

execute sql: 56.46395802497864
convert to pandas df: 7060.1099219322205
78234974
save as csv: 996.7147550582886
         account_id  org_id trans_no vmc       date event season e_oqty e_pl  \
0              2282  BAYLOR    32193   2 2018-07-09   F04    F18      0    7
1              2282  BAYLOR    32193   2 2018-07-09   F05    F18      0    7
2              2282  BAYLOR    32193   2 2018-07-09   F06    F18      0    7
3              2282  BAYLOR    32193   3 2018-07-09  F01P    F18      0    2
4              2282  BAYLOR    32193   3 2018-07-09  F02P    F18      0    2
...             ...     ...      ...  ..        ...   ...    ...    ...  ...
78234969     463205     KSU    16459   1 2020-02-17   B27   KS19      0    1
78234970     191150     KSU    16460   1 2020-02-17   B01   KS19      0    1
78234971     191150     KSU    16460   1 2020-02-17   B02   KS19      0    1
78234972     191150     KSU    16460   1 2020-02-17   B03   KS19      0    1
78234973     191150     KSU    16460   1 2020-02-17   B04   KS19      0    1

         e_price total_epay total_cpay total_fpay total_spay
0          58.33          0          0          0          0
1          58.33          0          0          0          0
2          58.35          0          0          0          0
3          75.00          0          0          0          0
4          75.00          0          0          0          0
...          ...        ...        ...        ...        ...
78234969    5.44          0          0          0          0
78234970    5.56          0          0          0          0
78234971    5.56          0          0          0          0
78234972    5.56          0          0          0          0
78234973    5.56          0          0          0          0

[78234974 rows x 14 columns]

In [135]:
tk_trans_item_event_df

,account_id,org_id,trans_no,vmc,date,event,season,e_oqty,e_pl,e_price,total_epay,total_cpay,total_fpay,total_spay
0,2282.0,BAYLOR,32193,2,2018-07-09,F04,F18,0,7.0,58.33,0.0,0.0,0.0,0
1,2282.0,BAYLOR,32193,2,2018-07-09,F05,F18,0,7.0,58.33,0.0,0.0,0.0,0
2,2282.0,BAYLOR,32193,2,2018-07-09,F06,F18,0,7.0,58.35,0.0,0.0,0.0,0
3,2282.0,BAYLOR,32193,3,2018-07-09,F01P,F18,0,2.0,75.00,0.0,0.0,0.0,0
4,2282.0,BAYLOR,32193,3,2018-07-09,F02P,F18,0,2.0,75.00,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78234969,463205.0,KSU,16459,1,2020-02-17,B27,KS19,0,1.0,5.44,0.0,0.0,0.0,0
78234970,191150.0,KSU,16460,1,2020-02-17,B01,KS19,0,1.0,5.56,0.0,0.0,0.0,0
78234971,191150.0,KSU,16460,1,2020-02-17,B02,KS19,0,1.0,5.56,0.0,0.0,0.0,0
78234972,191150.0,KSU,16460,1,2020-02-17,B03,KS19,0,1.0,5.56,0.0,0.0,0.0,0
78234973,191150.0,KSU,16460,1,2020-02-17,B04,KS19,0,1.0,5.56,0.0,0.0,0.0,0

In [27]:
s3 = boto3.client('s3')

with open('ticket_trans_item_event.csv', 'rb') as data:
    s3.upload_fileobj(data,
                      'uci-capstone-custfields',
                      'raw/ticket_trans_item_event.csv')

KeyboardInterrupt:

In [28]:
tk_trans_item_event_df= pd.read_csv("ticket_trans_item_event.csv")

In [30]:
merge_df = pd.merge(tk_trans_item_event_df,tk_season_df, on= ["season","org_id"]).reset_index()

In [31]:
merge_df["year"] = merge_df.date.apply(lambda x:x[:4])

In [33]:
org_yearly_pay = merge_df[["org_id","account_id","size","year","total_epay","total_cpay",
          "total_fpay","total_spay"]].groupby(["org_id","size","year",
                                               "account_id"]).sum().reset_index()
org_yearly_pay["total_pay_all"] = org_yearly_pay.total_epay+org_yearly_pay.total_cpay+org_yearly_pay.total_fpay+org_yearly_pay.total_fpay

#### Version 1

In [62]:
org_yearly_pperson = org_yearly_pay[["org_id","size","total_pay_all","total_epay",
                                     "year"]].groupby(["org_id","size",
                                             "year"]).agg(["sum","mean","median","min","max",
                                                           "var","size"]).reset_index()

In [63]:
org_yearly_pperson.columns = ["_".join(x) if x[0] not in ["org_id","size","year"] else x[0] for x in org_yearly_pperson.columns.ravel()]

In [71]:
org_yearly_pperson.to_csv("org_yearly_tk_pperson_v1.csv")

In [67]:
org_yearly_pperson_pivot = org_yearly_pperson.pivot(index = ["org_id"], 
                                                    columns = ["size","year"],
                                                    values = [c for c in org_yearly_pperson.columns if c not in ["org_id","size","year"]])

In [70]:
org_yearly_pperson_pivot.total_pay_all_sum

size                 L                                      M               \
year              2018          2019        2020         2018         2019
org_id
BAYLOR    1.368917e+07  1.691592e+07  7800155.66     48804.00    125953.00
CINN      7.977181e+06  9.003476e+06  1908201.91      3813.00     42465.00
COLORADO           NaN           NaN         NaN  14653584.40   7053054.73
ECU       4.328289e+05  4.768903e+05    92247.54    846256.38   1025372.01
FTA       3.039996e+07  3.983042e+07  2602569.59    138457.50    138075.00
KANSAS    3.638680e+06  5.516688e+06  1076370.65     70479.00     23700.00
KSU       4.160830e+06  3.301611e+06   233474.25          NaN     25985.00
LSU       8.425454e+06  1.063813e+07 -2628501.95   1299198.00  12701570.00
MICHST    1.448474e+06  1.700232e+06   356147.67    253901.82     71167.50
NCSU      2.490429e+07  2.627472e+07  8991888.76    914157.08   1054474.55
OKLAHOMA  1.045436e+07  7.777584e+06   910544.56     20248.00     23587.00
TAM       2.768537e+06  2.895343e+06   261898.44   1386212.77   1888303.63
TTU                NaN           NaN         NaN          NaN          NaN
USC       2.594658e+06  2.367460e+06   378356.34   1255946.13    924271.70
WYOMING   4.752498e+06  3.862652e+06  1167208.67          NaN          NaN

size                          S                                  H  \
year            2020       2018       2019      2020          2018
org_id
BAYLOR       8671.00   43759.00      65.00       NaN           NaN
CINN             NaN   33494.00   30278.00  17277.00           NaN
COLORADO  2863054.68  240069.90  118424.05    125.56  1.632718e+07
ECU        365805.45   12884.00    1787.00      0.00  6.147249e+06
FTA         15921.00        NaN        NaN       NaN  2.526159e+07
KANSAS       4488.00        NaN        NaN       NaN  1.817773e+07
KSU           325.00  398477.75   87901.25    -50.00  1.367949e+07
LSU       2912085.00  323681.00  459851.00  71924.00  5.930016e+07
MICHST       6483.50  124452.50  154298.00   4282.00  4.518156e+07
NCSU        63605.89  145260.00  180824.00  13642.50           NaN
OKLAHOMA         NaN       0.00        NaN       NaN  4.626995e+07
TAM          6265.21  303693.33  788825.73  79319.64  7.307239e+07
TTU              NaN        NaN   23212.00       NaN  2.573030e+07
USC         63619.26  168108.12    9840.00  -9840.00  3.025259e+07
WYOMING       200.00        NaN  250005.00   5130.00           NaN

size                                        T
year              2019          2020     2018     2019  2020
org_id
BAYLOR             NaN           NaN      NaN      NaN   NaN
CINN               NaN           NaN      NaN      NaN   NaN
COLORADO  1.995433e+07  7.080478e+06  39013.5  51234.5  56.0
ECU       5.695371e+06  8.886246e+05      NaN      NaN   NaN
FTA       2.461680e+07  3.753980e+06      NaN      NaN   NaN
KANSAS    1.678412e+07  7.715537e+05      NaN      NaN   NaN
KSU       1.237751e+07  5.879097e+06  49114.5    160.0   NaN
LSU       6.579998e+07  4.676759e+07      NaN      NaN   NaN
MICHST    4.525385e+07  1.192612e+07      NaN      NaN   NaN
NCSU               NaN           NaN      NaN      NaN   NaN
OKLAHOMA  4.382551e+07  1.422320e+07      NaN      NaN   NaN
TAM       5.167581e+07  2.536847e+07      NaN      NaN   NaN
TTU       2.552830e+07  1.013488e+07      NaN      NaN   NaN
USC       2.450086e+07  1.052662e+07      NaN      NaN   NaN
WYOMING            NaN           NaN      NaN      NaN   NaN

####  Version 2

In [95]:
org_yearly_pay_v2 = org_yearly_pay.pivot(index = ["org_id", "account_id","year"], 
                     columns = ["size"],
                     values = ["total_pay_all","total_epay"]).reset_index()

In [97]:
org_yearly_pay_v2.columns = ["_".join(x) if x[0] not in ["org_id","account_id","year"] else x[0] for x in org_yearly_pay_v2.columns.ravel()]

In [ ]:
large = ["L","H","T"]
small = ["S","M"]

In [98]:
org_yearly_pay_v2["total_pay_all_large"] = org_yearly_pay_v2[["total_pay_all_T","total_pay_all_L",
                                                              "total_pay_all_H"]].sum(axis = 1)
org_yearly_pay_v2["total_pay_all_small"] = org_yearly_pay_v2[["total_pay_all_S",
                                                              "total_pay_all_M"]].sum(axis = 1)
org_yearly_pay_pperson_v2 = org_yearly_pay_v2[["org_id","year","total_pay_all_large",
                   "total_pay_all_small"]].groupby(["org_id","year"]).agg(["sum","mean","median",
                                                                           "min","max",
                                                           "var","size"]).reset_index()
org_yearly_pay_pperson_v2.columns = ["_".join(x) if x[0] not in ["org_id","year"] else x[0] for x in org_yearly_pay_pperson_v2.columns.ravel()]
org_yearly_pperson_v2_pivot = org_yearly_pay_pperson_v2.pivot(index = ["org_id"], 
                     columns = ["year"],
                     values = [c for c in org_yearly_pay_pperson_v2.columns if c not in ["org_id","year"]]).reset_index()
org_yearly_pperson_v2_pivot.columns = ["_".join(x) if x[0] !="org_id" else x[0] for x in org_yearly_pperson_v2_pivot.columns.ravel()]

In [102]:
org_yearly_pperson_v2_pivot.to_csv("s3://uci-capstone-custfields/org_yearly_tk_pperson_v2.csv", 
                                 index = False)
org_yearly_pperson_v2_pivot.to_csv("org_yearly_tk_pperson_v2.csv", index = False)

In [119]:
org_yearly_pay_pperson_v2

,org_id,year,total_pay_all_large_sum,total_pay_all_large_mean,total_pay_all_large_median,total_pay_all_large_min,total_pay_all_large_max,total_pay_all_large_var,total_pay_all_large_size,total_pay_all_small_sum,total_pay_all_small_mean,total_pay_all_small_median,total_pay_all_small_min,total_pay_all_small_max,total_pay_all_small_var,total_pay_all_small_size
0,BAYLOR,2018,1.368917e+07,375.849015,30.000,-2.970000e+03,577366.30,2.024287e+07,36422,92563.00,2.541404,0.0,0.000000e+00,12265.00,1.469901e+04,36422
1,BAYLOR,2019,1.691592e+07,357.895192,50.000,-5.625000e+03,698364.00,2.645484e+07,47265,126018.00,2.666201,0.0,0.000000e+00,13745.00,6.223631e+03,47265
2,BAYLOR,2020,7.800156e+06,407.297565,50.000,-3.400000e+03,401391.00,1.673608e+07,19151,8671.00,0.452770,0.0,-2.220000e+02,1750.00,3.153057e+02,19151
3,CINN,2018,7.977181e+06,321.349544,56.000,-1.000000e+02,174164.00,3.507725e+06,24824,37307.00,1.502860,0.0,-8.881784e-15,2442.00,1.110757e+03,24824
4,CINN,2019,9.003476e+06,249.086379,38.120,-5.050000e+03,148911.00,2.195311e+06,36146,72743.00,2.012477,0.0,0.000000e+00,1985.00,4.298001e+02,36146
5,CINN,2020,1.908202e+06,205.227136,14.500,-2.565000e+03,22004.00,3.325229e+05,9298,17277.00,1.858142,0.0,-1.600000e+02,2500.00,1.643119e+03,9298
6,COLORADO,2018,1.636620e+07,254.988714,0.000,-1.136868e-13,255265.00,5.552744e+06,64184,14893654.30,232.046216,0.0,-1.100000e+02,59366.00,5.006750e+05,64184
7,COLORADO,2019,2.000556e+07,314.953974,0.000,-1.000000e+03,300400.00,7.405036e+06,63519,7171478.78,112.902892,0.0,-1.154000e+03,122562.80,9.507569e+05,63519
8,COLORADO,2020,7.080534e+06,223.219876,0.000,0.000000e+00,142093.00,1.747007e+06,31720,2863180.24,90.264194,0.0,-4.760000e+03,70780.40,2.836616e+05,31720
9,ECU,2018,6.580078e+06,188.265805,0.000,-1.800000e+02,75465.00,5.524531e+05,34951,859140.38,24.581282,0.0,-2.130500e+04,50190.00,1.385493e+05,34951
10,ECU,2019,6.172262e+06,180.496603,15.000,-9.000000e+01,35080.00,4.042066e+05,34196,1027159.01,30.037402,0.0,-1.421085e-14,8556.00,4.024206e+04,34196
11,ECU,2020,9.808721e+05,110.272304,0.000,-3.126000e+02,11670.00,1.688661e+05,8895,365805.45,41.124840,0.0,-2.400000e+02,6700.00,5.168843e+04,8895
12,FTA,2018,5.566156e+07,377.256522,235.300,-3.612500e+03,238933.10,2.212204e+06,147543,138457.50,0.938421,0.0,0.000000e+00,2160.00,1.857696e+02,147543
13,FTA,2019,6.444722e+07,401.265312,248.500,-1.584800e+03,510514.51,3.662079e+06,160610,138075.00,0.859691,0.0,-1.500000e+01,1782.00,2.055337e+02,160610
14,FTA,2020,6.356550e+06,195.028060,168.000,-3.625000e+04,126000.00,1.072198e+06,32593,15921.00,0.488479,0.0,-4.500000e+01,759.00,9.234266e+01,32593
15,KANSAS,2018,2.181641e+07,502.196283,20.000,-4.290000e+03,1046156.96,3.869130e+07,43442,70479.00,1.622370,0.0,0.000000e+00,5083.00,1.704485e+03,43442
16,KANSAS,2019,2.230081e+07,595.784464,57.840,-7.050000e+03,1478314.27,6.417719e+07,37431,23700.00,0.633165,0.0,0.000000e+00,450.00,6.898862e+01,37431
17,KANSAS,2020,1.847924e+06,169.456609,2.000,-3.044669e+04,361632.51,1.269306e+07,10905,4488.00,0.411554,0.0,-1.421085e-14,1478.00,2.974847e+02,10905
18,KSU,2018,1.788943e+07,414.414239,45.000,-1.155000e+03,137350.00,2.476652e+06,43168,398477.75,9.230860,0.0,-3.019807e-14,7438.00,7.308298e+03,43168
19,KSU,2019,1.567928e+07,488.542481,60.000,-1.848000e+04,139150.00,2.647690e+06,32094,113886.25,3.548522,0.0,-1.000000e+03,4244.00,2.547832e+03,32094
20,KSU,2020,6.112571e+06,339.172723,0.000,-2.000000e+03,154236.05,1.881545e+06,18022,275.00,0.015259,0.0,-1.000000e+02,75.00,1.499406e+00,18022
21,LSU,2018,6.772561e+07,780.860735,75.000,-5.875000e+03,685059.00,2.007932e+07,86732,1622879.00,18.711421,0.0,-1.400000e+02,33012.00,1.993391e+04,86732
22,LSU,2019,7.643810e+07,792.039034,60.000,-3.600000e+03,726750.00,2.238872e+07,96508,13161421.00,136.376477,0.0,0.000000e+00,72660.00,4.591683e+05,96508
23,LSU,2020,4.413909e+07,1055.100908,24.000,-9.913510e+03,466138.00,1.877979e+07,41834,2984009.00,71.329756,0.0,-1.550000e+03,270510.00,3.958148e+06,41834
24,MICHST,2018,4.663003e+07,607.517820,167.000,-2.400000e+03,419655.54,1.026300e+07,76755,378354.32,4.929377,0.0,-2.000000e+02,40217.00,2.452035e+04,76755
25,MICHST,2019,4.695408e+07,588.242193,120.000,-8.000000e+02,469235.71,1.353240e+07,79821,225465.50,2.824639,0.0,-1.645000e+03,43129.00,2.417405e+04,79821
26,MICHST,2020,1.228227e+07,437.371507,41.275,-3.200000e+03,154932.86,4.712248e+06,28082,10765.50,0.383359,0.0,-1.770000e+03,5592.00,1.567108e+03,28082
27,NCSU,2018,2.490429e+07,493.300790,0.000,-5.440000e+02,296800.00,6.193168e+06,50485,1059417.08,20.984789,0.0,-4.560000e+02,115266.00,2.827250e+05,50485
28,NCSU,2019,2.627472e+07,448.282331,0.000,-3.981000e+03,629148.00,1.403006e+07,58612,1235298.55,21.075864,0.0,-2.850000e+02,135506.00,3.312538e+05,58612
29,NCSU,2020,8.991889e+06,353.969561,0.000,-2.719000e+03,100000.00,1.494964e+06,25403,77248.39,3.040916,0.0,-3.540000e+03,13586.00,2.362210e+04,25403
30,OKLAHOMA,2018,5.672430e+07,865.306482,210.000,-2.015000e+03,818416.00,3.748734e+07,65554,20248.00,0.308875,0.0,-2.000000e+00,9341.00,1.396200e+03,65554
31,OKLAHOMA,2019,5.160309e+07,810.413722,210.000,-2.735000e+03,509761.00,1.412507e+07,63675,23587.00,0.370428,0.0,0.000000e+00,10507.00,2.090817e+03,63675
32,OKLAHOMA,2020,1.513374e+07,461.197688,24.000,-5.900000e+03,264205.00,5.962221e+06,32814,0.00,0.000000,0.0,0.000000e+00,0.00,0.000000e+00,32814
33,TAM,2018,7.584093e+07,1138.188761,125.000,-3.552714e-15,915200.45,3.204490e+07,66633,1689906.10,25.361399,0.0,-2.220446e-16,41630.00,1.457718e+05,66633
34,TAM,2019,5.457115e+07,603.870261,50.000,-3.900000e+03,1003980.00,3.183528e+07,90369,2677129.36,29.624422,0.0,-5.800000e+02,33689.00,7.937384e+04,90369
35,TAM,2020,2.563037e+07,855.600590,0.000,-1.776000e+03,151360.00,6.149047e+06,29956,85584.85,2.857019,0.0,-8.842700e+03,29248.00,7.049671e+04,29956
36,TTU,2018,2.573030e+07,959.978318,161.000,-4.500000e+02,446098.00,2.193138e+07,26803,0.00,0.000000,0.0,0.000000e+00,0.00,0.000000e+00,26803
37,TTU,2019,2.552830e+07,918.217998,116.000,-1.077290e+03,202135.59,1.347863e+07,27802,23212.00,0.834904,0.0,0.000000e+00,9380.00,3.231275e+03,27802
38,TTU,2020,1.013488e+07,881.217331,84.000,-1.385000e+03,90399.88,8.072834e+06,11501,0.00,0.000000,0.0,0.000000e+00,0.00,0.000000e+00,11501
39,USC,2018,3.284725e+07,589.759615,200.000,-2.703500e+04,456542.00,7.321615e+06,55696,1424054.25,25.568340,0.0,-5.000000e+01,197677.00,1.052223e+06,55696
40,USC,2019,2.686832e+07,557.468681,192.000,-3.516273e+04,422750.00,1.476649e+07,48197,934111.70,19.381117,0.0,0.000000e+00,76325.00,2.200344e+05,48197
41,USC,2020,1.090498e+07,645.723532,40.000,-3.118700e+04,177579.00,4.911197e+06,16888,53779.26,3.184466,0.0,-2.767000e+03,7037.75,1.974519e+04,16888
42,WYOMING,2018,4.752498e+06,282.937299,35.000,0.000000e+00,208006.50,3.166080e+06,16797,0.00,0.000000,0.0,0.000000e+00,0.00,0.000000e+00,16797
43,WYOMING,2019,3.862652e+06,204.687218,30.000,-4.000000e+01,105058.00,1.421920e+06,18871,250005.00,13.248106,0.0,0.000000e+00,10000.00,1.125027e+04,18871
44,WYOMING,2020,1.167209e+06,210.763573,0.000,-1.475000e+03,17828.00,2.753560e+05,5538,5330.00,0.962441,0.0,0.000000e+00,2650.00,2.379948e+03,5538

In [122]:
pd.read_csv("s3://uci-capstone-custfields/org_yearly_tk_pperson_v2.csv")

,org_id,total_pay_all_large_sum_2018,total_pay_all_large_sum_2019,total_pay_all_large_sum_2020,total_pay_all_large_mean_2018,total_pay_all_large_mean_2019,total_pay_all_large_mean_2020,total_pay_all_large_median_2018,total_pay_all_large_median_2019,total_pay_all_large_median_2020,...,total_pay_all_small_min_2020,total_pay_all_small_max_2018,total_pay_all_small_max_2019,total_pay_all_small_max_2020,total_pay_all_small_var_2018,total_pay_all_small_var_2019,total_pay_all_small_var_2020,total_pay_all_small_size_2018,total_pay_all_small_size_2019,total_pay_all_small_size_2020
0,BAYLOR,1.368917e+07,1.691592e+07,7.800156e+06,375.849015,357.895192,407.297565,30.0,50.00,50.000,...,-2.220000e+02,12265.0,13745.0,1750.00,1.469901e+04,6223.630980,3.153057e+02,36422.0,47265.0,19151.0
1,CINN,7.977181e+06,9.003476e+06,1.908202e+06,321.349544,249.086379,205.227136,56.0,38.12,14.500,...,-1.600000e+02,2442.0,1985.0,2500.00,1.110757e+03,429.800121,1.643119e+03,24824.0,36146.0,9298.0
2,COLORADO,1.636620e+07,2.000556e+07,7.080534e+06,254.988714,314.953974,223.219876,0.0,0.00,0.000,...,-4.760000e+03,59366.0,122562.8,70780.40,5.006750e+05,950756.873205,2.836616e+05,64184.0,63519.0,31720.0
3,ECU,6.580078e+06,6.172262e+06,9.808721e+05,188.265805,180.496603,110.272304,0.0,15.00,0.000,...,-2.400000e+02,50190.0,8556.0,6700.00,1.385493e+05,40242.062264,5.168843e+04,34951.0,34196.0,8895.0
4,FTA,5.566156e+07,6.444722e+07,6.356550e+06,377.256522,401.265312,195.028060,235.3,248.50,168.000,...,-4.500000e+01,2160.0,1782.0,759.00,1.857696e+02,205.533670,9.234266e+01,147543.0,160610.0,32593.0
5,KANSAS,2.181641e+07,2.230081e+07,1.847924e+06,502.196283,595.784464,169.456609,20.0,57.84,2.000,...,-1.421085e-14,5083.0,450.0,1478.00,1.704485e+03,68.988618,2.974847e+02,43442.0,37431.0,10905.0
6,KSU,1.788943e+07,1.567928e+07,6.112571e+06,414.414239,488.542481,339.172723,45.0,60.00,0.000,...,-1.000000e+02,7438.0,4244.0,75.00,7.308298e+03,2547.832206,1.499406e+00,43168.0,32094.0,18022.0
7,LSU,6.772561e+07,7.643810e+07,4.413909e+07,780.860735,792.039034,1055.100908,75.0,60.00,24.000,...,-1.550000e+03,33012.0,72660.0,270510.00,1.993391e+04,459168.328712,3.958148e+06,86732.0,96508.0,41834.0
8,MICHST,4.663003e+07,4.695408e+07,1.228227e+07,607.517820,588.242193,437.371507,167.0,120.00,41.275,...,-1.770000e+03,40217.0,43129.0,5592.00,2.452035e+04,24174.047283,1.567108e+03,76755.0,79821.0,28082.0
9,NCSU,2.490429e+07,2.627472e+07,8.991889e+06,493.300790,448.282331,353.969561,0.0,0.00,0.000,...,-3.540000e+03,115266.0,135506.0,13586.00,2.827250e+05,331253.842132,2.362210e+04,50485.0,58612.0,25403.0
10,OKLAHOMA,5.672430e+07,5.160309e+07,1.513374e+07,865.306482,810.413722,461.197688,210.0,210.00,24.000,...,0.000000e+00,9341.0,10507.0,0.00,1.396200e+03,2090.817472,0.000000e+00,65554.0,63675.0,32814.0
11,TAM,7.584093e+07,5.457115e+07,2.563037e+07,1138.188761,603.870261,855.600590,125.0,50.00,0.000,...,-8.842700e+03,41630.0,33689.0,29248.00,1.457718e+05,79373.841950,7.049671e+04,66633.0,90369.0,29956.0
12,TTU,2.573030e+07,2.552830e+07,1.013488e+07,959.978318,918.217998,881.217331,161.0,116.00,84.000,...,0.000000e+00,0.0,9380.0,0.00,0.000000e+00,3231.275357,0.000000e+00,26803.0,27802.0,11501.0
13,USC,3.284725e+07,2.686832e+07,1.090498e+07,589.759615,557.468681,645.723532,200.0,192.00,40.000,...,-2.767000e+03,197677.0,76325.0,7037.75,1.052223e+06,220034.412609,1.974519e+04,55696.0,48197.0,16888.0
14,WYOMING,4.752498e+06,3.862652e+06,1.167209e+06,282.937299,204.687218,210.763573,35.0,30.00,0.000,...,0.000000e+00,0.0,10000.0,2650.00,0.000000e+00,11250.274635,2.379948e+03,16797.0,18871.0,5538.0

In [114]:
org_yearly_pperson_v2_pivot

,org_id,total_pay_all_large_sum_2018,total_pay_all_large_sum_2019,total_pay_all_large_sum_2020,total_pay_all_large_mean_2018,total_pay_all_large_mean_2019,total_pay_all_large_mean_2020,total_pay_all_large_median_2018,total_pay_all_large_median_2019,total_pay_all_large_median_2020,...,total_pay_all_small_min_2020,total_pay_all_small_max_2018,total_pay_all_small_max_2019,total_pay_all_small_max_2020,total_pay_all_small_var_2018,total_pay_all_small_var_2019,total_pay_all_small_var_2020,total_pay_all_small_size_2018,total_pay_all_small_size_2019,total_pay_all_small_size_2020
0,BAYLOR,1.368917e+07,1.691592e+07,7.800156e+06,375.849015,357.895192,407.297565,30.0,50.00,50.000,...,-2.220000e+02,12265.0,13745.0,1750.00,1.469901e+04,6223.630980,3.153057e+02,36422.0,47265.0,19151.0
1,CINN,7.977181e+06,9.003476e+06,1.908202e+06,321.349544,249.086379,205.227136,56.0,38.12,14.500,...,-1.600000e+02,2442.0,1985.0,2500.00,1.110757e+03,429.800121,1.643119e+03,24824.0,36146.0,9298.0
2,COLORADO,1.636620e+07,2.000556e+07,7.080534e+06,254.988714,314.953974,223.219876,0.0,0.00,0.000,...,-4.760000e+03,59366.0,122562.8,70780.40,5.006750e+05,950756.873205,2.836616e+05,64184.0,63519.0,31720.0
3,ECU,6.580078e+06,6.172262e+06,9.808721e+05,188.265805,180.496603,110.272304,0.0,15.00,0.000,...,-2.400000e+02,50190.0,8556.0,6700.00,1.385493e+05,40242.062264,5.168843e+04,34951.0,34196.0,8895.0
4,FTA,5.566156e+07,6.444722e+07,6.356550e+06,377.256522,401.265312,195.028060,235.3,248.50,168.000,...,-4.500000e+01,2160.0,1782.0,759.00,1.857696e+02,205.533670,9.234266e+01,147543.0,160610.0,32593.0
5,KANSAS,2.181641e+07,2.230081e+07,1.847924e+06,502.196283,595.784464,169.456609,20.0,57.84,2.000,...,-1.421085e-14,5083.0,450.0,1478.00,1.704485e+03,68.988618,2.974847e+02,43442.0,37431.0,10905.0
6,KSU,1.788943e+07,1.567928e+07,6.112571e+06,414.414239,488.542481,339.172723,45.0,60.00,0.000,...,-1.000000e+02,7438.0,4244.0,75.00,7.308298e+03,2547.832206,1.499406e+00,43168.0,32094.0,18022.0
7,LSU,6.772561e+07,7.643810e+07,4.413909e+07,780.860735,792.039034,1055.100908,75.0,60.00,24.000,...,-1.550000e+03,33012.0,72660.0,270510.00,1.993391e+04,459168.328712,3.958148e+06,86732.0,96508.0,41834.0
8,MICHST,4.663003e+07,4.695408e+07,1.228227e+07,607.517820,588.242193,437.371507,167.0,120.00,41.275,...,-1.770000e+03,40217.0,43129.0,5592.00,2.452035e+04,24174.047283,1.567108e+03,76755.0,79821.0,28082.0
9,NCSU,2.490429e+07,2.627472e+07,8.991889e+06,493.300790,448.282331,353.969561,0.0,0.00,0.000,...,-3.540000e+03,115266.0,135506.0,13586.00,2.827250e+05,331253.842132,2.362210e+04,50485.0,58612.0,25403.0
10,OKLAHOMA,5.672430e+07,5.160309e+07,1.513374e+07,865.306482,810.413722,461.197688,210.0,210.00,24.000,...,0.000000e+00,9341.0,10507.0,0.00,1.396200e+03,2090.817472,0.000000e+00,65554.0,63675.0,32814.0
11,TAM,7.584093e+07,5.457115e+07,2.563037e+07,1138.188761,603.870261,855.600590,125.0,50.00,0.000,...,-8.842700e+03,41630.0,33689.0,29248.00,1.457718e+05,79373.841950,7.049671e+04,66633.0,90369.0,29956.0
12,TTU,2.573030e+07,2.552830e+07,1.013488e+07,959.978318,918.217998,881.217331,161.0,116.00,84.000,...,0.000000e+00,0.0,9380.0,0.00,0.000000e+00,3231.275357,0.000000e+00,26803.0,27802.0,11501.0
13,USC,3.284725e+07,2.686832e+07,1.090498e+07,589.759615,557.468681,645.723532,200.0,192.00,40.000,...,-2.767000e+03,197677.0,76325.0,7037.75,1.052223e+06,220034.412609,1.974519e+04,55696.0,48197.0,16888.0
14,WYOMING,4.752498e+06,3.862652e+06,1.167209e+06,282.937299,204.687218,210.763573,35.0,30.00,0.000,...,0.000000e+00,0.0,10000.0,2650.00,0.000000e+00,11250.274635,2.379948e+03,16797.0,18871.0,5538.0

In [111]:
org_yearly_pperson_v2_pivot.to_csv("")

,org_id,total_pay_all_large_sum_2018,total_pay_all_large_sum_2019,total_pay_all_large_sum_2020,total_pay_all_large_mean_2018,total_pay_all_large_mean_2019,total_pay_all_large_mean_2020,total_pay_all_large_median_2018,total_pay_all_large_median_2019,total_pay_all_large_median_2020,...,total_pay_all_small_min_2020,total_pay_all_small_max_2018,total_pay_all_small_max_2019,total_pay_all_small_max_2020,total_pay_all_small_var_2018,total_pay_all_small_var_2019,total_pay_all_small_var_2020,total_pay_all_small_size_2018,total_pay_all_small_size_2019,total_pay_all_small_size_2020
0,BAYLOR,1.368917e+07,1.691592e+07,7.800156e+06,375.849015,357.895192,407.297565,30.0,50.00,50.000,...,-2.220000e+02,12265.0,13745.0,1750.00,1.469901e+04,6223.630980,3.153057e+02,36422.0,47265.0,19151.0
1,CINN,7.977181e+06,9.003476e+06,1.908202e+06,321.349544,249.086379,205.227136,56.0,38.12,14.500,...,-1.600000e+02,2442.0,1985.0,2500.00,1.110757e+03,429.800121,1.643119e+03,24824.0,36146.0,9298.0
2,COLORADO,1.636620e+07,2.000556e+07,7.080534e+06,254.988714,314.953974,223.219876,0.0,0.00,0.000,...,-4.760000e+03,59366.0,122562.8,70780.40,5.006750e+05,950756.873205,2.836616e+05,64184.0,63519.0,31720.0
3,ECU,6.580078e+06,6.172262e+06,9.808721e+05,188.265805,180.496603,110.272304,0.0,15.00,0.000,...,-2.400000e+02,50190.0,8556.0,6700.00,1.385493e+05,40242.062264,5.168843e+04,34951.0,34196.0,8895.0
4,FTA,5.566156e+07,6.444722e+07,6.356550e+06,377.256522,401.265312,195.028060,235.3,248.50,168.000,...,-4.500000e+01,2160.0,1782.0,759.00,1.857696e+02,205.533670,9.234266e+01,147543.0,160610.0,32593.0
5,KANSAS,2.181641e+07,2.230081e+07,1.847924e+06,502.196283,595.784464,169.456609,20.0,57.84,2.000,...,-1.421085e-14,5083.0,450.0,1478.00,1.704485e+03,68.988618,2.974847e+02,43442.0,37431.0,10905.0
6,KSU,1.788943e+07,1.567928e+07,6.112571e+06,414.414239,488.542481,339.172723,45.0,60.00,0.000,...,-1.000000e+02,7438.0,4244.0,75.00,7.308298e+03,2547.832206,1.499406e+00,43168.0,32094.0,18022.0
7,LSU,6.772561e+07,7.643810e+07,4.413909e+07,780.860735,792.039034,1055.100908,75.0,60.00,24.000,...,-1.550000e+03,33012.0,72660.0,270510.00,1.993391e+04,459168.328712,3.958148e+06,86732.0,96508.0,41834.0
8,MICHST,4.663003e+07,4.695408e+07,1.228227e+07,607.517820,588.242193,437.371507,167.0,120.00,41.275,...,-1.770000e+03,40217.0,43129.0,5592.00,2.452035e+04,24174.047283,1.567108e+03,76755.0,79821.0,28082.0
9,NCSU,2.490429e+07,2.627472e+07,8.991889e+06,493.300790,448.282331,353.969561,0.0,0.00,0.000,...,-3.540000e+03,115266.0,135506.0,13586.00,2.827250e+05,331253.842132,2.362210e+04,50485.0,58612.0,25403.0
10,OKLAHOMA,5.672430e+07,5.160309e+07,1.513374e+07,865.306482,810.413722,461.197688,210.0,210.00,24.000,...,0.000000e+00,9341.0,10507.0,0.00,1.396200e+03,2090.817472,0.000000e+00,65554.0,63675.0,32814.0
11,TAM,7.584093e+07,5.457115e+07,2.563037e+07,1138.188761,603.870261,855.600590,125.0,50.00,0.000,...,-8.842700e+03,41630.0,33689.0,29248.00,1.457718e+05,79373.841950,7.049671e+04,66633.0,90369.0,29956.0
12,TTU,2.573030e+07,2.552830e+07,1.013488e+07,959.978318,918.217998,881.217331,161.0,116.00,84.000,...,0.000000e+00,0.0,9380.0,0.00,0.000000e+00,3231.275357,0.000000e+00,26803.0,27802.0,11501.0
13,USC,3.284725e+07,2.686832e+07,1.090498e+07,589.759615,557.468681,645.723532,200.0,192.00,40.000,...,-2.767000e+03,197677.0,76325.0,7037.75,1.052223e+06,220034.412609,1.974519e+04,55696.0,48197.0,16888.0
14,WYOMING,4.752498e+06,3.862652e+06,1.167209e+06,282.937299,204.687218,210.763573,35.0,30.00,0.000,...,0.000000e+00,0.0,10000.0,2650.00,0.000000e+00,11250.274635,2.379948e+03,16797.0,18871.0,5538.0

In [112]:
org_yearly_pperson_v2_pivot.to_csv("org_yearly_tk_pperson_v2.csv")

# Close Connection

In [ ]:
cs.close()
omni.close()