In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from collections import defaultdict
import ast
from datetime import datetime

In [3]:
accounts = pd.read_csv("all_accounts.csv", 
                       usecols = ["client_id".upper(),
                                  "account_id".upper(),
                                  "Z_LASTUPDATEDUSERTIMESTAMP".upper()])

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [31]:
def convert_datetime(timestamp):
    if type(timestamp) == float and np.isnan(timestamp):
        return pd.to_datetime(timestamp)
    elif type(timestamp) == str and "T" in timestamp:
#         print("2",pd.to_datetime(str(pd.to_datetime(timestamp)).replace("+00:00", "")).year)
        return pd.to_datetime(str(pd.to_datetime(timestamp)).replace("+00:00", "")).year
    elif type(timestamp) == str and len(timestamp) == 0:

        return pd.to_datetime(np.nan)
    else:
        timestamp = int(timestamp)
        if np.isnan(timestamp):
            return pd.to_datetime(timestamp)
        return  pd.to_datetime(timestamp, unit = "ms").year
#         return str(datetime.fromtimestamp(timestamp/1000.0)).split(".")[0]

In [47]:
# accounts["year"] = accounts.Z_LASTUPDATEDUSERTIMESTAMP.apply(convert_datetime)
accounts.rename(columns = {"client_id".upper():"org_id",
                           "account_id".upper():"account_id"}, 
                inplace = True)

In [50]:
accounts_2015 = accounts[accounts.year>2015].copy()

In [36]:
len(accounts.CLIENT_ID.unique())

28

In [49]:
accounts

         Z_LASTUPDATEDUSERTIMESTAMP account_id    org_id  year
0          2020-02-12T04:48:56.147Z      90651      MICH  2020
1          2020-03-13T18:04:37.636Z  905981334      MICH  2020
2          2020-02-11T21:34:44.098Z  906262232      MICH  2020
3          2020-02-12T02:41:21.085Z      90513      MICH  2020
4          2020-02-12T03:22:45.686Z  905992802      MICH  2020
...                             ...        ...       ...   ...
31728365   2019-02-19T23:48:29.045Z    6792368   MSSTATE  2019
31728366   2020-03-09T14:10:29.962Z    6792366   MSSTATE  2020
31728367   2019-02-19T23:48:03.487Z    6789850   MSSTATE  2019
31728368   2019-02-19T23:47:32.894Z    6781608   MSSTATE  2019
31728369   2019-10-06T19:36:18.496Z     266223  NEBRASKA  2019

[31728370 rows x 4 columns]

In [51]:
accounts_yearly_num = accounts_2015.groupby(["year","org_id"]).size().reset_index()

In [38]:
len(accounts_2015)

31578450

In [60]:
accounts_yearly_num[accounts_yearly_num.org_id=="NCSU"]

    year org_id       0
12  2018   NCSU  241317
29  2019   NCSU  107790
57  2020   NCSU  623682
76  2021   NCSU  153719

In [43]:
accounts.rename(columns = {"client_id":"org_id"}, 
                inplace = True)

In [ ]:
chunk["Z_LASTUPDATEDUSERTIMESTAMP"] =chunk.Z_LASTUPDATEDUSERTIMESTAMP.apply(convert_datetime)